/*PIXELS*/
/***************************/
/*FONT SIZE*/
/****************************/
.f-s-0px {
    font-size: 0px;
}

.f-s-1px {
    font-size: 1px;
}

.f-s-2px {
    font-size: 2px;
}

.f-s-3px {
    font-size: 3px;
}

.f-s-4px {
    font-size: 4px;
}

.f-s-5px {
    font-size: 5px;
}

.f-s-6px {
    font-size: 6px;
}

.f-s-7px {
    font-size: 7px;
}

.f-s-8px {
    font-size: 8px;
}

.f-s-9px {
    font-size: 9px;
}

.f-s-10px {
    font-size: 10px;
}

.f-s-11px {
    font-size: 11px;
}

.f-s-12px {
    font-size: 12px;
}

.f-s-13px {
    font-size: 13px;
}

.f-s-14px {
    font-size: 14px;
}

.f-s-15px {
    font-size: 15px;
}

.f-s-16px {
    font-size: 16px;
}

.f-s-17px {
    font-size: 17px;
}

.f-s-18px {
    font-size: 18px;
}

.f-s-19px {
    font-size: 19px;
}

.f-s-20px {
    font-size: 20px;
}

.f-s-21px {
    font-size: 21px;
}

.f-s-22px {
    font-size: 22px;
}

.f-s-23px {
    font-size: 23px;
}

.f-s-24px {
    font-size: 24px;
}

.f-s-25px {
    font-size: 25px;
}

.f-s-26px {
    font-size: 26px;
}

.f-s-27px {
    font-size: 27px;
}

.f-s-28px {
    font-size: 28px;
}

.f-s-29px {
    font-size: 29px;
}

.f-s-30px {
    font-size: 30px;
}

.f-s-31px {
    font-size: 31px;
}

.f-s-32px {
    font-size: 32px;
}

.f-s-33px {
    font-size: 33px;
}

.f-s-34px {
    font-size: 34px;
}

.f-s-35px {
    font-size: 35px;
}

.f-s-36px {
    font-size: 36px;
}

.f-s-37px {
    font-size: 37px;
}

.f-s-38px {
    font-size: 38px;
}

.f-s-39px {
    font-size: 39px;
}

.f-s-40px {
    font-size: 40px;
}

.f-s-41px {
    font-size: 41px;
}

.f-s-42px {
    font-size: 42px;
}

.f-s-43px {
    font-size: 43px;
}

.f-s-44px {
    font-size: 44px;
}

.f-s-45px {
    font-size: 45px;
}

.f-s-46px {
    font-size: 46px;
}

.f-s-47px {
    font-size: 47px;
}

.f-s-48px {
    font-size: 48px;
}

.f-s-49px {
    font-size: 49px;
}

.f-s-50px {
    font-size: 50px;
}

.f-s-51px {
    font-size: 51px;
}

.f-s-52px {
    font-size: 52px;
}

.f-s-53px {
    font-size: 53px;
}

.f-s-54px {
    font-size: 54px;
}

.f-s-55px {
    font-size: 55px;
}

.f-s-56px {
    font-size: 56px;
}

.f-s-57px {
    font-size: 57px;
}

.f-s-58px {
    font-size: 58px;
}

.f-s-59px {
    font-size: 59px;
}

.f-s-60px {
    font-size: 60px;
}

.f-s-61px {
    font-size: 61px;
}

.f-s-62px {
    font-size: 62px;
}

.f-s-63px {
    font-size: 63px;
}

.f-s-64px {
    font-size: 64px;
}

.f-s-65px {
    font-size: 65px;
}

.f-s-66px {
    font-size: 66px;
}

.f-s-67px {
    font-size: 67px;
}

.f-s-68px {
    font-size: 68px;
}

.f-s-69px {
    font-size: 69px;
}

.f-s-70px {
    font-size: 70px;
}

.f-s-71px {
    font-size: 71px;
}

.f-s-72px {
    font-size: 72px;
}

.f-s-73px {
    font-size: 73px;
}

.f-s-74px {
    font-size: 74px;
}

.f-s-75px {
    font-size: 75px;
}

.f-s-76px {
    font-size: 76px;
}

.f-s-77px {
    font-size: 77px;
}

.f-s-78px {
    font-size: 78px;
}

.f-s-79px {
    font-size: 79px;
}

.f-s-80px {
    font-size: 80px;
}

.f-s-81px {
    font-size: 81px;
}

.f-s-82px {
    font-size: 82px;
}

.f-s-83px {
    font-size: 83px;
}

.f-s-84px {
    font-size: 84px;
}

.f-s-85px {
    font-size: 85px;
}

.f-s-86px {
    font-size: 86px;
}

.f-s-87px {
    font-size: 87px;
}

.f-s-88px {
    font-size: 88px;
}

.f-s-89px {
    font-size: 89px;
}

.f-s-90px {
    font-size: 90px;
}

.f-s-91px {
    font-size: 91px;
}

.f-s-92px {
    font-size: 92px;
}

.f-s-93px {
    font-size: 93px;
}

.f-s-94px {
    font-size: 94px;
}

.f-s-95px {
    font-size: 95px;
}

.f-s-96px {
    font-size: 96px;
}

.f-s-97px {
    font-size: 97px;
}

.f-s-98px {
    font-size: 98px;
}

.f-s-99px {
    font-size: 99px;
}

.f-s-100px {
    font-size: 100px;
}

/*Style*/


.f-n {
    font-style: normal;
}

.f-i {
    font-style: italic;
}

.f-o {
    font-style: oblique;
}


/*FONT WEIGHT*/
.f-w-n {
    font-weight: normal;
}

.f-w-l {
    font-weight: lighter;
}

.f-w-b {
    font-weight: bold;
}

.f-w-t {
    font-weight: 900;
}


/*FONT VARIANT*/
.f-v-n {
    font-variant: normal;
}

.f-v-sc {
    font-variant: small-caps;
}


/*Font Family*/
.f-roman {
    font-family: "Times New Roman", Times, serif;
}

.f-arial {
    font-family: Arial, Helvetica, sans-serif;
}
