
/*COMPLETE*/

/*PIXELS*/
/****************************************/
/*Margin-pixels*/
/****************************************/
.m-0px {
    margin: 0px;
}

.m-1px {
    margin: 1px;
}

.m-2px {
    margin: 2px;
}

.m-3px {
    margin: 3px;
}

.m-4px {
    margin: 4px;
}

.m-5px {
    margin: 5px;
}

.m-6px {
    margin: 6px;
}

.m-7px {
    margin: 7px;
}

.m-8px {
    margin: 8px;
}

.m-9px {
    margin: 9px;
}

.m-10px {
    margin: 10px;
}

.m-11px {
    margin: 11px;
}

.m-12px {
    margin: 12px;
}

.m-13px {
    margin: 13px;
}

.m-14px {
    margin: 14px;
}

.m-15px {
    margin: 15px;
}

.m-16px {
    margin: 16px;
}

.m-17px {
    margin: 17px;
}

.m-18px {
    margin: 18px;
}

.m-19px {
    margin: 19px;
}

.m-20px {
    margin: 20px;
}

.m-21px {
    margin: 21px;
}

.m-22px {
    margin: 22px;
}

.m-23px {
    margin: 23px;
}

.m-24px {
    margin: 24px;
}

.m-25px {
    margin: 25px;
}

.m-26px {
    margin: 26px;
}

.m-27px {
    margin: 27px;
}

.m-28px {
    margin: 28px;
}

.m-29px {
    margin: 29px;
}

.m-30px {
    margin: 30px;
}

.m-31px {
    margin: 31px;
}

.m-32px {
    margin: 32px;
}

.m-33px {
    margin: 33px;
}

.m-34px {
    margin: 34px;
}

.m-35px {
    margin: 35px;
}

.m-36px {
    margin: 36px;
}

.m-37px {
    margin: 37px;
}

.m-38px {
    margin: 38px;
}

.m-39px {
    margin: 39px;
}

.m-40px {
    margin: 40px;
}

.m-41px {
    margin: 41px;
}

.m-42px {
    margin: 42px;
}

.m-43px {
    margin: 43px;
}

.m-44px {
    margin: 44px;
}

.m-45px {
    margin: 45px;
}

.m-46px {
    margin: 46px;
}

.m-47px {
    margin: 47px;
}

.m-48px {
    margin: 48px;
}

.m-49px {
    margin: 49px;
}

.m-50px {
    margin: 50px;
}

.m-51px {
    margin: 51px;
}

.m-52px {
    margin: 52px;
}

.m-53px {
    margin: 53px;
}

.m-54px {
    margin: 54px;
}

.m-55px {
    margin: 55px;
}

.m-56px {
    margin: 56px;
}

.m-57px {
    margin: 57px;
}

.m-58px {
    margin: 58px;
}

.m-59px {
    margin: 59px;
}

.m-60px {
    margin: 60px;
}

.m-61px {
    margin: 61px;
}

.m-62px {
    margin: 62px;
}

.m-63px {
    margin: 63px;
}

.m-64px {
    margin: 64px;
}

.m-65px {
    margin: 65px;
}

.m-66px {
    margin: 66px;
}

.m-67px {
    margin: 67px;
}

.m-68px {
    margin: 68px;
}

.m-69px {
    margin: 69px;
}

.m-70px {
    margin: 70px;
}

.m-71px {
    margin: 71px;
}

.m-72px {
    margin: 72px;
}

.m-73px {
    margin: 73px;
}

.m-74px {
    margin: 74px;
}

.m-75px {
    margin: 75px;
}

.m-76px {
    margin: 76px;
}

.m-77px {
    margin: 77px;
}

.m-78px {
    margin: 78px;
}

.m-79px {
    margin: 79px;
}

.m-80px {
    margin: 80px;
}

.m-81px {
    margin: 81px;
}

.m-82px {
    margin: 82px;
}

.m-83px {
    margin: 83px;
}

.m-84px {
    margin: 84px;
}

.m-85px {
    margin: 85px;
}

.m-86px {
    margin: 86px;
}

.m-87px {
    margin: 87px;
}

.m-88px {
    margin: 88px;
}

.m-89px {
    margin: 89px;
}

.m-90px {
    margin: 90px;
}

.m-91px {
    margin: 91px;
}

.m-92px {
    margin: 92px;
}

.m-93px {
    margin: 93px;
}

.m-94px {
    margin: 94px;
}

.m-95px {
    margin: 95px;
}

.m-96px {
    margin: 96px;
}

.m-97px {
    margin: 97px;
}

.m-98px {
    margin: 98px;
}

.m-99px {
    margin: 99px;
}

.m-100px {
    margin: 100px;
}

.m-101px {
    margin: 101px;
}

.m-102px {
    margin: 102px;
}

.m-103px {
    margin: 103px;
}

.m-104px {
    margin: 104px;
}

.m-105px {
    margin: 105px;
}

.m-106px {
    margin: 106px;
}

.m-107px {
    margin: 107px;
}

.m-108px {
    margin: 108px;
}

.m-109px {
    margin: 109px;
}

.m-110px {
    margin: 110px;
}

.m-111px {
    margin: 111px;
}

.m-112px {
    margin: 112px;
}

.m-113px {
    margin: 113px;
}

.m-114px {
    margin: 114px;
}

.m-115px {
    margin: 115px;
}

.m-116px {
    margin: 116px;
}

.m-117px {
    margin: 117px;
}

.m-118px {
    margin: 118px;
}

.m-119px {
    margin: 119px;
}

.m-120px {
    margin: 120px;
}

.m-121px {
    margin: 121px;
}

.m-122px {
    margin: 122px;
}

.m-123px {
    margin: 123px;
}

.m-124px {
    margin: 124px;
}

.m-125px {
    margin: 125px;
}

.m-126px {
    margin: 126px;
}

.m-127px {
    margin: 127px;
}

.m-128px {
    margin: 128px;
}

.m-129px {
    margin: 129px;
}

.m-130px {
    margin: 130px;
}

.m-131px {
    margin: 131px;
}

.m-132px {
    margin: 132px;
}

.m-133px {
    margin: 133px;
}

.m-134px {
    margin: 134px;
}

.m-135px {
    margin: 135px;
}

.m-136px {
    margin: 136px;
}

.m-137px {
    margin: 137px;
}

.m-138px {
    margin: 138px;
}

.m-139px {
    margin: 139px;
}

.m-140px {
    margin: 140px;
}

.m-141px {
    margin: 141px;
}

.m-142px {
    margin: 142px;
}

.m-143px {
    margin: 143px;
}

.m-144px {
    margin: 144px;
}

.m-145px {
    margin: 145px;
}

.m-146px {
    margin: 146px;
}

.m-147px {
    margin: 147px;
}

.m-148px {
    margin: 148px;
}

.m-149px {
    margin: 149px;
}

.m-150px {
    margin: 150px;
}

.m-151px {
    margin: 151px;
}

.m-152px {
    margin: 152px;
}

.m-153px {
    margin: 153px;
}

.m-154px {
    margin: 154px;
}

.m-155px {
    margin: 155px;
}

.m-156px {
    margin: 156px;
}

.m-157px {
    margin: 157px;
}

.m-158px {
    margin: 158px;
}

.m-159px {
    margin: 159px;
}

.m-160px {
    margin: 160px;
}

.m-161px {
    margin: 161px;
}

.m-162px {
    margin: 162px;
}

.m-163px {
    margin: 163px;
}

.m-164px {
    margin: 164px;
}

.m-165px {
    margin: 165px;
}

.m-166px {
    margin: 166px;
}

.m-167px {
    margin: 167px;
}

.m-168px {
    margin: 168px;
}

.m-169px {
    margin: 169px;
}

.m-170px {
    margin: 170px;
}

.m-171px {
    margin: 171px;
}

.m-172px {
    margin: 172px;
}

.m-173px {
    margin: 173px;
}

.m-174px {
    margin: 174px;
}

.m-175px {
    margin: 175px;
}

.m-176px {
    margin: 176px;
}

.m-177px {
    margin: 177px;
}

.m-178px {
    margin: 178px;
}

.m-179px {
    margin: 179px;
}

.m-180px {
    margin: 180px;
}

.m-181px {
    margin: 181px;
}

.m-182px {
    margin: 182px;
}

.m-183px {
    margin: 183px;
}

.m-184px {
    margin: 184px;
}

.m-185px {
    margin: 185px;
}

.m-186px {
    margin: 186px;
}

.m-187px {
    margin: 187px;
}

.m-188px {
    margin: 188px;
}

.m-189px {
    margin: 189px;
}

.m-190px {
    margin: 190px;
}

.m-191px {
    margin: 191px;
}

.m-192px {
    margin: 192px;
}

.m-193px {
    margin: 193px;
}

.m-194px {
    margin: 194px;
}

.m-195px {
    margin: 195px;
}

.m-196px {
    margin: 196px;
}

.m-197px {
    margin: 197px;
}

.m-198px {
    margin: 198px;
}

.m-199px {
    margin: 199px;
}

.m-200px {
    margin: 200px;
}


/****************************************/
/*Margin-top-pixels*/
/****************************************/
.m-t-0px {
    margin-top: 0px;
}

.m-t-1px {
    margin-top: 1px;
}

.m-t-2px {
    margin-top: 2px;
}

.m-t-3px {
    margin-top: 3px;
}

.m-t-4px {
    margin-top: 4px;
}

.m-t-5px {
    margin-top: 5px;
}

.m-t-6px {
    margin-top: 6px;
}

.m-t-7px {
    margin-top: 7px;
}

.m-t-8px {
    margin-top: 8px;
}

.m-t-9px {
    margin-top: 9px;
}

.m-t-10px {
    margin-top: 10px;
}

.m-t-11px {
    margin-top: 11px;
}

.m-t-12px {
    margin-top: 12px;
}

.m-t-13px {
    margin-top: 13px;
}

.m-t-14px {
    margin-top: 14px;
}

.m-t-15px {
    margin-top: 15px;
}

.m-t-16px {
    margin-top: 16px;
}

.m-t-17px {
    margin-top: 17px;
}

.m-t-18px {
    margin-top: 18px;
}

.m-t-19px {
    margin-top: 19px;
}

.m-t-20px {
    margin-top: 20px;
}

.m-t-21px {
    margin-top: 21px;
}

.m-t-22px {
    margin-top: 22px;
}

.m-t-23px {
    margin-top: 23px;
}

.m-t-24px {
    margin-top: 24px;
}

.m-t-25px {
    margin-top: 25px;
}

.m-t-26px {
    margin-top: 26px;
}

.m-t-27px {
    margin-top: 27px;
}

.m-t-28px {
    margin-top: 28px;
}

.m-t-29px {
    margin-top: 29px;
}

.m-t-30px {
    margin-top: 30px;
}

.m-t-31px {
    margin-top: 31px;
}

.m-t-32px {
    margin-top: 32px;
}

.m-t-33px {
    margin-top: 33px;
}

.m-t-34px {
    margin-top: 34px;
}

.m-t-35px {
    margin-top: 35px;
}

.m-t-36px {
    margin-top: 36px;
}

.m-t-37px {
    margin-top: 37px;
}

.m-t-38px {
    margin-top: 38px;
}

.m-t-39px {
    margin-top: 39px;
}

.m-t-40px {
    margin-top: 40px;
}

.m-t-41px {
    margin-top: 41px;
}

.m-t-42px {
    margin-top: 42px;
}

.m-t-43px {
    margin-top: 43px;
}

.m-t-44px {
    margin-top: 44px;
}

.m-t-45px {
    margin-top: 45px;
}

.m-t-46px {
    margin-top: 46px;
}

.m-t-47px {
    margin-top: 47px;
}

.m-t-48px {
    margin-top: 48px;
}

.m-t-49px {
    margin-top: 49px;
}

.m-t-50px {
    margin-top: 50px;
}

.m-t-51px {
    margin-top: 51px;
}

.m-t-52px {
    margin-top: 52px;
}

.m-t-53px {
    margin-top: 53px;
}

.m-t-54px {
    margin-top: 54px;
}

.m-t-55px {
    margin-top: 55px;
}

.m-t-56px {
    margin-top: 56px;
}

.m-t-57px {
    margin-top: 57px;
}

.m-t-58px {
    margin-top: 58px;
}

.m-t-59px {
    margin-top: 59px;
}

.m-t-60px {
    margin-top: 60px;
}

.m-t-61px {
    margin-top: 61px;
}

.m-t-62px {
    margin-top: 62px;
}

.m-t-63px {
    margin-top: 63px;
}

.m-t-64px {
    margin-top: 64px;
}

.m-t-65px {
    margin-top: 65px;
}

.m-t-66px {
    margin-top: 66px;
}

.m-t-67px {
    margin-top: 67px;
}

.m-t-68px {
    margin-top: 68px;
}

.m-t-69px {
    margin-top: 69px;
}

.m-t-70px {
    margin-top: 70px;
}

.m-t-71px {
    margin-top: 71px;
}

.m-t-72px {
    margin-top: 72px;
}

.m-t-73px {
    margin-top: 73px;
}

.m-t-74px {
    margin-top: 74px;
}

.m-t-75px {
    margin-top: 75px;
}

.m-t-76px {
    margin-top: 76px;
}

.m-t-77px {
    margin-top: 77px;
}

.m-t-78px {
    margin-top: 78px;
}

.m-t-79px {
    margin-top: 79px;
}

.m-t-80px {
    margin-top: 80px;
}

.m-t-81px {
    margin-top: 81px;
}

.m-t-82px {
    margin-top: 82px;
}

.m-t-83px {
    margin-top: 83px;
}

.m-t-84px {
    margin-top: 84px;
}

.m-t-85px {
    margin-top: 85px;
}

.m-t-86px {
    margin-top: 86px;
}

.m-t-87px {
    margin-top: 87px;
}

.m-t-88px {
    margin-top: 88px;
}

.m-t-89px {
    margin-top: 89px;
}

.m-t-90px {
    margin-top: 90px;
}

.m-t-91px {
    margin-top: 91px;
}

.m-t-92px {
    margin-top: 92px;
}

.m-t-93px {
    margin-top: 93px;
}

.m-t-94px {
    margin-top: 94px;
}

.m-t-95px {
    margin-top: 95px;
}

.m-t-96px {
    margin-top: 96px;
}

.m-t-97px {
    margin-top: 97px;
}

.m-t-98px {
    margin-top: 98px;
}

.m-t-99px {
    margin-top: 99px;
}

.m-t-100px {
    margin-top: 100px;
}

.m-t-101px {
    margin-top: 101px;
}

.m-t-102px {
    margin-top: 102px;
}

.m-t-103px {
    margin-top: 103px;
}

.m-t-104px {
    margin-top: 104px;
}

.m-t-105px {
    margin-top: 105px;
}

.m-t-106px {
    margin-top: 106px;
}

.m-t-107px {
    margin-top: 107px;
}

.m-t-108px {
    margin-top: 108px;
}

.m-t-109px {
    margin-top: 109px;
}

.m-t-110px {
    margin-top: 110px;
}

.m-t-111px {
    margin-top: 111px;
}

.m-t-112px {
    margin-top: 112px;
}

.m-t-113px {
    margin-top: 113px;
}

.m-t-114px {
    margin-top: 114px;
}

.m-t-115px {
    margin-top: 115px;
}

.m-t-116px {
    margin-top: 116px;
}

.m-t-117px {
    margin-top: 117px;
}

.m-t-118px {
    margin-top: 118px;
}

.m-t-119px {
    margin-top: 119px;
}

.m-t-120px {
    margin-top: 120px;
}

.m-t-121px {
    margin-top: 121px;
}

.m-t-122px {
    margin-top: 122px;
}

.m-t-123px {
    margin-top: 123px;
}

.m-t-124px {
    margin-top: 124px;
}

.m-t-125px {
    margin-top: 125px;
}

.m-t-126px {
    margin-top: 126px;
}

.m-t-127px {
    margin-top: 127px;
}

.m-t-128px {
    margin-top: 128px;
}

.m-t-129px {
    margin-top: 129px;
}

.m-t-130px {
    margin-top: 130px;
}

.m-t-131px {
    margin-top: 131px;
}

.m-t-132px {
    margin-top: 132px;
}

.m-t-133px {
    margin-top: 133px;
}

.m-t-134px {
    margin-top: 134px;
}

.m-t-135px {
    margin-top: 135px;
}

.m-t-136px {
    margin-top: 136px;
}

.m-t-137px {
    margin-top: 137px;
}

.m-t-138px {
    margin-top: 138px;
}

.m-t-139px {
    margin-top: 139px;
}

.m-t-140px {
    margin-top: 140px;
}

.m-t-141px {
    margin-top: 141px;
}

.m-t-142px {
    margin-top: 142px;
}

.m-t-143px {
    margin-top: 143px;
}

.m-t-144px {
    margin-top: 144px;
}

.m-t-145px {
    margin-top: 145px;
}

.m-t-146px {
    margin-top: 146px;
}

.m-t-147px {
    margin-top: 147px;
}

.m-t-148px {
    margin-top: 148px;
}

.m-t-149px {
    margin-top: 149px;
}

.m-t-150px {
    margin-top: 150px;
}

.m-t-151px {
    margin-top: 151px;
}

.m-t-152px {
    margin-top: 152px;
}

.m-t-153px {
    margin-top: 153px;
}

.m-t-154px {
    margin-top: 154px;
}

.m-t-155px {
    margin-top: 155px;
}

.m-t-156px {
    margin-top: 156px;
}

.m-t-157px {
    margin-top: 157px;
}

.m-t-158px {
    margin-top: 158px;
}

.m-t-159px {
    margin-top: 159px;
}

.m-t-160px {
    margin-top: 160px;
}

.m-t-161px {
    margin-top: 161px;
}

.m-t-162px {
    margin-top: 162px;
}

.m-t-163px {
    margin-top: 163px;
}

.m-t-164px {
    margin-top: 164px;
}

.m-t-165px {
    margin-top: 165px;
}

.m-t-166px {
    margin-top: 166px;
}

.m-t-167px {
    margin-top: 167px;
}

.m-t-168px {
    margin-top: 168px;
}

.m-t-169px {
    margin-top: 169px;
}

.m-t-170px {
    margin-top: 170px;
}

.m-t-171px {
    margin-top: 171px;
}

.m-t-172px {
    margin-top: 172px;
}

.m-t-173px {
    margin-top: 173px;
}

.m-t-174px {
    margin-top: 174px;
}

.m-t-175px {
    margin-top: 175px;
}

.m-t-176px {
    margin-top: 176px;
}

.m-t-177px {
    margin-top: 177px;
}

.m-t-178px {
    margin-top: 178px;
}

.m-t-179px {
    margin-top: 179px;
}

.m-t-180px {
    margin-top: 180px;
}

.m-t-181px {
    margin-top: 181px;
}

.m-t-182px {
    margin-top: 182px;
}

.m-t-183px {
    margin-top: 183px;
}

.m-t-184px {
    margin-top: 184px;
}

.m-t-185px {
    margin-top: 185px;
}

.m-t-186px {
    margin-top: 186px;
}

.m-t-187px {
    margin-top: 187px;
}

.m-t-188px {
    margin-top: 188px;
}

.m-t-189px {
    margin-top: 189px;
}

.m-t-190px {
    margin-top: 190px;
}

.m-t-191px {
    margin-top: 191px;
}

.m-t-192px {
    margin-top: 192px;
}

.m-t-193px {
    margin-top: 193px;
}

.m-t-194px {
    margin-top: 194px;
}

.m-t-195px {
    margin-top: 195px;
}

.m-t-196px {
    margin-top: 196px;
}

.m-t-197px {
    margin-top: 197px;
}

.m-t-198px {
    margin-top: 198px;
}

.m-t-199px {
    margin-top: 199px;
}

.m-t-200px {
    margin-top: 200px;
}


/****************************************/
/*Margin-bottom-pixels*/
/****************************************/
.m-b-0px {
    margin-bottom: 0px;
}

.m-b-1px {
    margin-bottom: 1px;
}

.m-b-2px {
    margin-bottom: 2px;
}

.m-b-3px {
    margin-bottom: 3px;
}

.m-b-4px {
    margin-bottom: 4px;
}

.m-b-5px {
    margin-bottom: 5px;
}

.m-b-6px {
    margin-bottom: 6px;
}

.m-b-7px {
    margin-bottom: 7px;
}

.m-b-8px {
    margin-bottom: 8px;
}

.m-b-9px {
    margin-bottom: 9px;
}

.m-b-10px {
    margin-bottom: 10px;
}

.m-b-11px {
    margin-bottom: 11px;
}

.m-b-12px {
    margin-bottom: 12px;
}

.m-b-13px {
    margin-bottom: 13px;
}

.m-b-14px {
    margin-bottom: 14px;
}

.m-b-15px {
    margin-bottom: 15px;
}

.m-b-16px {
    margin-bottom: 16px;
}

.m-b-17px {
    margin-bottom: 17px;
}

.m-b-18px {
    margin-bottom: 18px;
}

.m-b-19px {
    margin-bottom: 19px;
}

.m-b-20px {
    margin-bottom: 20px;
}

.m-b-21px {
    margin-bottom: 21px;
}

.m-b-22px {
    margin-bottom: 22px;
}

.m-b-23px {
    margin-bottom: 23px;
}

.m-b-24px {
    margin-bottom: 24px;
}

.m-b-25px {
    margin-bottom: 25px;
}

.m-b-26px {
    margin-bottom: 26px;
}

.m-b-27px {
    margin-bottom: 27px;
}

.m-b-28px {
    margin-bottom: 28px;
}

.m-b-29px {
    margin-bottom: 29px;
}

.m-b-30px {
    margin-bottom: 30px;
}

.m-b-31px {
    margin-bottom: 31px;
}

.m-b-32px {
    margin-bottom: 32px;
}

.m-b-33px {
    margin-bottom: 33px;
}

.m-b-34px {
    margin-bottom: 34px;
}

.m-b-35px {
    margin-bottom: 35px;
}

.m-b-36px {
    margin-bottom: 36px;
}

.m-b-37px {
    margin-bottom: 37px;
}

.m-b-38px {
    margin-bottom: 38px;
}

.m-b-39px {
    margin-bottom: 39px;
}

.m-b-40px {
    margin-bottom: 40px;
}

.m-b-41px {
    margin-bottom: 41px;
}

.m-b-42px {
    margin-bottom: 42px;
}

.m-b-43px {
    margin-bottom: 43px;
}

.m-b-44px {
    margin-bottom: 44px;
}

.m-b-45px {
    margin-bottom: 45px;
}

.m-b-46px {
    margin-bottom: 46px;
}

.m-b-47px {
    margin-bottom: 47px;
}

.m-b-48px {
    margin-bottom: 48px;
}

.m-b-49px {
    margin-bottom: 49px;
}

.m-b-50px {
    margin-bottom: 50px;
}

.m-b-51px {
    margin-bottom: 51px;
}

.m-b-52px {
    margin-bottom: 52px;
}

.m-b-53px {
    margin-bottom: 53px;
}

.m-b-54px {
    margin-bottom: 54px;
}

.m-b-55px {
    margin-bottom: 55px;
}

.m-b-56px {
    margin-bottom: 56px;
}

.m-b-57px {
    margin-bottom: 57px;
}

.m-b-58px {
    margin-bottom: 58px;
}

.m-b-59px {
    margin-bottom: 59px;
}

.m-b-60px {
    margin-bottom: 60px;
}

.m-b-61px {
    margin-bottom: 61px;
}

.m-b-62px {
    margin-bottom: 62px;
}

.m-b-63px {
    margin-bottom: 63px;
}

.m-b-64px {
    margin-bottom: 64px;
}

.m-b-65px {
    margin-bottom: 65px;
}

.m-b-66px {
    margin-bottom: 66px;
}

.m-b-67px {
    margin-bottom: 67px;
}

.m-b-68px {
    margin-bottom: 68px;
}

.m-b-69px {
    margin-bottom: 69px;
}

.m-b-70px {
    margin-bottom: 70px;
}

.m-b-71px {
    margin-bottom: 71px;
}

.m-b-72px {
    margin-bottom: 72px;
}

.m-b-73px {
    margin-bottom: 73px;
}

.m-b-74px {
    margin-bottom: 74px;
}

.m-b-75px {
    margin-bottom: 75px;
}

.m-b-76px {
    margin-bottom: 76px;
}

.m-b-77px {
    margin-bottom: 77px;
}

.m-b-78px {
    margin-bottom: 78px;
}

.m-b-79px {
    margin-bottom: 79px;
}

.m-b-80px {
    margin-bottom: 80px;
}

.m-b-81px {
    margin-bottom: 81px;
}

.m-b-82px {
    margin-bottom: 82px;
}

.m-b-83px {
    margin-bottom: 83px;
}

.m-b-84px {
    margin-bottom: 84px;
}

.m-b-85px {
    margin-bottom: 85px;
}

.m-b-86px {
    margin-bottom: 86px;
}

.m-b-87px {
    margin-bottom: 87px;
}

.m-b-88px {
    margin-bottom: 88px;
}

.m-b-89px {
    margin-bottom: 89px;
}

.m-b-90px {
    margin-bottom: 90px;
}

.m-b-91px {
    margin-bottom: 91px;
}

.m-b-92px {
    margin-bottom: 92px;
}

.m-b-93px {
    margin-bottom: 93px;
}

.m-b-94px {
    margin-bottom: 94px;
}

.m-b-95px {
    margin-bottom: 95px;
}

.m-b-96px {
    margin-bottom: 96px;
}

.m-b-97px {
    margin-bottom: 97px;
}

.m-b-98px {
    margin-bottom: 98px;
}

.m-b-99px {
    margin-bottom: 99px;
}

.m-b-100px {
    margin-bottom: 100px;
}

.m-b-101px {
    margin-bottom: 101px;
}

.m-b-102px {
    margin-bottom: 102px;
}

.m-b-103px {
    margin-bottom: 103px;
}

.m-b-104px {
    margin-bottom: 104px;
}

.m-b-105px {
    margin-bottom: 105px;
}

.m-b-106px {
    margin-bottom: 106px;
}

.m-b-107px {
    margin-bottom: 107px;
}

.m-b-108px {
    margin-bottom: 108px;
}

.m-b-109px {
    margin-bottom: 109px;
}

.m-b-110px {
    margin-bottom: 110px;
}

.m-b-111px {
    margin-bottom: 111px;
}

.m-b-112px {
    margin-bottom: 112px;
}

.m-b-113px {
    margin-bottom: 113px;
}

.m-b-114px {
    margin-bottom: 114px;
}

.m-b-115px {
    margin-bottom: 115px;
}

.m-b-116px {
    margin-bottom: 116px;
}

.m-b-117px {
    margin-bottom: 117px;
}

.m-b-118px {
    margin-bottom: 118px;
}

.m-b-119px {
    margin-bottom: 119px;
}

.m-b-120px {
    margin-bottom: 120px;
}

.m-b-121px {
    margin-bottom: 121px;
}

.m-b-122px {
    margin-bottom: 122px;
}

.m-b-123px {
    margin-bottom: 123px;
}

.m-b-124px {
    margin-bottom: 124px;
}

.m-b-125px {
    margin-bottom: 125px;
}

.m-b-126px {
    margin-bottom: 126px;
}

.m-b-127px {
    margin-bottom: 127px;
}

.m-b-128px {
    margin-bottom: 128px;
}

.m-b-129px {
    margin-bottom: 129px;
}

.m-b-130px {
    margin-bottom: 130px;
}

.m-b-131px {
    margin-bottom: 131px;
}

.m-b-132px {
    margin-bottom: 132px;
}

.m-b-133px {
    margin-bottom: 133px;
}

.m-b-134px {
    margin-bottom: 134px;
}

.m-b-135px {
    margin-bottom: 135px;
}

.m-b-136px {
    margin-bottom: 136px;
}

.m-b-137px {
    margin-bottom: 137px;
}

.m-b-138px {
    margin-bottom: 138px;
}

.m-b-139px {
    margin-bottom: 139px;
}

.m-b-140px {
    margin-bottom: 140px;
}

.m-b-141px {
    margin-bottom: 141px;
}

.m-b-142px {
    margin-bottom: 142px;
}

.m-b-143px {
    margin-bottom: 143px;
}

.m-b-144px {
    margin-bottom: 144px;
}

.m-b-145px {
    margin-bottom: 145px;
}

.m-b-146px {
    margin-bottom: 146px;
}

.m-b-147px {
    margin-bottom: 147px;
}

.m-b-148px {
    margin-bottom: 148px;
}

.m-b-149px {
    margin-bottom: 149px;
}

.m-b-150px {
    margin-bottom: 150px;
}

.m-b-151px {
    margin-bottom: 151px;
}

.m-b-152px {
    margin-bottom: 152px;
}

.m-b-153px {
    margin-bottom: 153px;
}

.m-b-154px {
    margin-bottom: 154px;
}

.m-b-155px {
    margin-bottom: 155px;
}

.m-b-156px {
    margin-bottom: 156px;
}

.m-b-157px {
    margin-bottom: 157px;
}

.m-b-158px {
    margin-bottom: 158px;
}

.m-b-159px {
    margin-bottom: 159px;
}

.m-b-160px {
    margin-bottom: 160px;
}

.m-b-161px {
    margin-bottom: 161px;
}

.m-b-162px {
    margin-bottom: 162px;
}

.m-b-163px {
    margin-bottom: 163px;
}

.m-b-164px {
    margin-bottom: 164px;
}

.m-b-165px {
    margin-bottom: 165px;
}

.m-b-166px {
    margin-bottom: 166px;
}

.m-b-167px {
    margin-bottom: 167px;
}

.m-b-168px {
    margin-bottom: 168px;
}

.m-b-169px {
    margin-bottom: 169px;
}

.m-b-170px {
    margin-bottom: 170px;
}

.m-b-171px {
    margin-bottom: 171px;
}

.m-b-172px {
    margin-bottom: 172px;
}

.m-b-173px {
    margin-bottom: 173px;
}

.m-b-174px {
    margin-bottom: 174px;
}

.m-b-175px {
    margin-bottom: 175px;
}

.m-b-176px {
    margin-bottom: 176px;
}

.m-b-177px {
    margin-bottom: 177px;
}

.m-b-178px {
    margin-bottom: 178px;
}

.m-b-179px {
    margin-bottom: 179px;
}

.m-b-180px {
    margin-bottom: 180px;
}

.m-b-181px {
    margin-bottom: 181px;
}

.m-b-182px {
    margin-bottom: 182px;
}

.m-b-183px {
    margin-bottom: 183px;
}

.m-b-184px {
    margin-bottom: 184px;
}

.m-b-185px {
    margin-bottom: 185px;
}

.m-b-186px {
    margin-bottom: 186px;
}

.m-b-187px {
    margin-bottom: 187px;
}

.m-b-188px {
    margin-bottom: 188px;
}

.m-b-189px {
    margin-bottom: 189px;
}

.m-b-190px {
    margin-bottom: 190px;
}

.m-b-191px {
    margin-bottom: 191px;
}

.m-b-192px {
    margin-bottom: 192px;
}

.m-b-193px {
    margin-bottom: 193px;
}

.m-b-194px {
    margin-bottom: 194px;
}

.m-b-195px {
    margin-bottom: 195px;
}

.m-b-196px {
    margin-bottom: 196px;
}

.m-b-197px {
    margin-bottom: 197px;
}

.m-b-198px {
    margin-bottom: 198px;
}

.m-b-199px {
    margin-bottom: 199px;
}

.m-b-200px {
    margin-bottom: 200px;
}


/****************************************/
/*Margin-left-pixels*/
/****************************************/
.m-l-0px {
    margin-left: 0px;
}

.m-l-1px {
    margin-left: 1px;
}

.m-l-2px {
    margin-left: 2px;
}

.m-l-3px {
    margin-left: 3px;
}

.m-l-4px {
    margin-left: 4px;
}

.m-l-5px {
    margin-left: 5px;
}

.m-l-6px {
    margin-left: 6px;
}

.m-l-7px {
    margin-left: 7px;
}

.m-l-8px {
    margin-left: 8px;
}

.m-l-9px {
    margin-left: 9px;
}

.m-l-10px {
    margin-left: 10px;
}

.m-l-11px {
    margin-left: 11px;
}

.m-l-12px {
    margin-left: 12px;
}

.m-l-13px {
    margin-left: 13px;
}

.m-l-14px {
    margin-left: 14px;
}

.m-l-15px {
    margin-left: 15px;
}

.m-l-16px {
    margin-left: 16px;
}

.m-l-17px {
    margin-left: 17px;
}

.m-l-18px {
    margin-left: 18px;
}

.m-l-19px {
    margin-left: 19px;
}

.m-l-20px {
    margin-left: 20px;
}

.m-l-21px {
    margin-left: 21px;
}

.m-l-22px {
    margin-left: 22px;
}

.m-l-23px {
    margin-left: 23px;
}

.m-l-24px {
    margin-left: 24px;
}

.m-l-25px {
    margin-left: 25px;
}

.m-l-26px {
    margin-left: 26px;
}

.m-l-27px {
    margin-left: 27px;
}

.m-l-28px {
    margin-left: 28px;
}

.m-l-29px {
    margin-left: 29px;
}

.m-l-30px {
    margin-left: 30px;
}

.m-l-31px {
    margin-left: 31px;
}

.m-l-32px {
    margin-left: 32px;
}

.m-l-33px {
    margin-left: 33px;
}

.m-l-34px {
    margin-left: 34px;
}

.m-l-35px {
    margin-left: 35px;
}

.m-l-36px {
    margin-left: 36px;
}

.m-l-37px {
    margin-left: 37px;
}

.m-l-38px {
    margin-left: 38px;
}

.m-l-39px {
    margin-left: 39px;
}

.m-l-40px {
    margin-left: 40px;
}

.m-l-41px {
    margin-left: 41px;
}

.m-l-42px {
    margin-left: 42px;
}

.m-l-43px {
    margin-left: 43px;
}

.m-l-44px {
    margin-left: 44px;
}

.m-l-45px {
    margin-left: 45px;
}

.m-l-46px {
    margin-left: 46px;
}

.m-l-47px {
    margin-left: 47px;
}

.m-l-48px {
    margin-left: 48px;
}

.m-l-49px {
    margin-left: 49px;
}

.m-l-50px {
    margin-left: 50px;
}

.m-l-51px {
    margin-left: 51px;
}

.m-l-52px {
    margin-left: 52px;
}

.m-l-53px {
    margin-left: 53px;
}

.m-l-54px {
    margin-left: 54px;
}

.m-l-55px {
    margin-left: 55px;
}

.m-l-56px {
    margin-left: 56px;
}

.m-l-57px {
    margin-left: 57px;
}

.m-l-58px {
    margin-left: 58px;
}

.m-l-59px {
    margin-left: 59px;
}

.m-l-60px {
    margin-left: 60px;
}

.m-l-61px {
    margin-left: 61px;
}

.m-l-62px {
    margin-left: 62px;
}

.m-l-63px {
    margin-left: 63px;
}

.m-l-64px {
    margin-left: 64px;
}

.m-l-65px {
    margin-left: 65px;
}

.m-l-66px {
    margin-left: 66px;
}

.m-l-67px {
    margin-left: 67px;
}

.m-l-68px {
    margin-left: 68px;
}

.m-l-69px {
    margin-left: 69px;
}

.m-l-70px {
    margin-left: 70px;
}

.m-l-71px {
    margin-left: 71px;
}

.m-l-72px {
    margin-left: 72px;
}

.m-l-73px {
    margin-left: 73px;
}

.m-l-74px {
    margin-left: 74px;
}

.m-l-75px {
    margin-left: 75px;
}

.m-l-76px {
    margin-left: 76px;
}

.m-l-77px {
    margin-left: 77px;
}

.m-l-78px {
    margin-left: 78px;
}

.m-l-79px {
    margin-left: 79px;
}

.m-l-80px {
    margin-left: 80px;
}

.m-l-81px {
    margin-left: 81px;
}

.m-l-82px {
    margin-left: 82px;
}

.m-l-83px {
    margin-left: 83px;
}

.m-l-84px {
    margin-left: 84px;
}

.m-l-85px {
    margin-left: 85px;
}

.m-l-86px {
    margin-left: 86px;
}

.m-l-87px {
    margin-left: 87px;
}

.m-l-88px {
    margin-left: 88px;
}

.m-l-89px {
    margin-left: 89px;
}

.m-l-90px {
    margin-left: 90px;
}

.m-l-91px {
    margin-left: 91px;
}

.m-l-92px {
    margin-left: 92px;
}

.m-l-93px {
    margin-left: 93px;
}

.m-l-94px {
    margin-left: 94px;
}

.m-l-95px {
    margin-left: 95px;
}

.m-l-96px {
    margin-left: 96px;
}

.m-l-97px {
    margin-left: 97px;
}

.m-l-98px {
    margin-left: 98px;
}

.m-l-99px {
    margin-left: 99px;
}

.m-l-100px {
    margin-left: 100px;
}

.m-l-101px {
    margin-left: 101px;
}

.m-l-102px {
    margin-left: 102px;
}

.m-l-103px {
    margin-left: 103px;
}

.m-l-104px {
    margin-left: 104px;
}

.m-l-105px {
    margin-left: 105px;
}

.m-l-106px {
    margin-left: 106px;
}

.m-l-107px {
    margin-left: 107px;
}

.m-l-108px {
    margin-left: 108px;
}

.m-l-109px {
    margin-left: 109px;
}

.m-l-110px {
    margin-left: 110px;
}

.m-l-111px {
    margin-left: 111px;
}

.m-l-112px {
    margin-left: 112px;
}

.m-l-113px {
    margin-left: 113px;
}

.m-l-114px {
    margin-left: 114px;
}

.m-l-115px {
    margin-left: 115px;
}

.m-l-116px {
    margin-left: 116px;
}

.m-l-117px {
    margin-left: 117px;
}

.m-l-118px {
    margin-left: 118px;
}

.m-l-119px {
    margin-left: 119px;
}

.m-l-120px {
    margin-left: 120px;
}

.m-l-121px {
    margin-left: 121px;
}

.m-l-122px {
    margin-left: 122px;
}

.m-l-123px {
    margin-left: 123px;
}

.m-l-124px {
    margin-left: 124px;
}

.m-l-125px {
    margin-left: 125px;
}

.m-l-126px {
    margin-left: 126px;
}

.m-l-127px {
    margin-left: 127px;
}

.m-l-128px {
    margin-left: 128px;
}

.m-l-129px {
    margin-left: 129px;
}

.m-l-130px {
    margin-left: 130px;
}

.m-l-131px {
    margin-left: 131px;
}

.m-l-132px {
    margin-left: 132px;
}

.m-l-133px {
    margin-left: 133px;
}

.m-l-134px {
    margin-left: 134px;
}

.m-l-135px {
    margin-left: 135px;
}

.m-l-136px {
    margin-left: 136px;
}

.m-l-137px {
    margin-left: 137px;
}

.m-l-138px {
    margin-left: 138px;
}

.m-l-139px {
    margin-left: 139px;
}

.m-l-140px {
    margin-left: 140px;
}

.m-l-141px {
    margin-left: 141px;
}

.m-l-142px {
    margin-left: 142px;
}

.m-l-143px {
    margin-left: 143px;
}

.m-l-144px {
    margin-left: 144px;
}

.m-l-145px {
    margin-left: 145px;
}

.m-l-146px {
    margin-left: 146px;
}

.m-l-147px {
    margin-left: 147px;
}

.m-l-148px {
    margin-left: 148px;
}

.m-l-149px {
    margin-left: 149px;
}

.m-l-150px {
    margin-left: 150px;
}

.m-l-151px {
    margin-left: 151px;
}

.m-l-152px {
    margin-left: 152px;
}

.m-l-153px {
    margin-left: 153px;
}

.m-l-154px {
    margin-left: 154px;
}

.m-l-155px {
    margin-left: 155px;
}

.m-l-156px {
    margin-left: 156px;
}

.m-l-157px {
    margin-left: 157px;
}

.m-l-158px {
    margin-left: 158px;
}

.m-l-159px {
    margin-left: 159px;
}

.m-l-160px {
    margin-left: 160px;
}

.m-l-161px {
    margin-left: 161px;
}

.m-l-162px {
    margin-left: 162px;
}

.m-l-163px {
    margin-left: 163px;
}

.m-l-164px {
    margin-left: 164px;
}

.m-l-165px {
    margin-left: 165px;
}

.m-l-166px {
    margin-left: 166px;
}

.m-l-167px {
    margin-left: 167px;
}

.m-l-168px {
    margin-left: 168px;
}

.m-l-169px {
    margin-left: 169px;
}

.m-l-170px {
    margin-left: 170px;
}

.m-l-171px {
    margin-left: 171px;
}

.m-l-172px {
    margin-left: 172px;
}

.m-l-173px {
    margin-left: 173px;
}

.m-l-174px {
    margin-left: 174px;
}

.m-l-175px {
    margin-left: 175px;
}

.m-l-176px {
    margin-left: 176px;
}

.m-l-177px {
    margin-left: 177px;
}

.m-l-178px {
    margin-left: 178px;
}

.m-l-179px {
    margin-left: 179px;
}

.m-l-180px {
    margin-left: 180px;
}

.m-l-181px {
    margin-left: 181px;
}

.m-l-182px {
    margin-left: 182px;
}

.m-l-183px {
    margin-left: 183px;
}

.m-l-184px {
    margin-left: 184px;
}

.m-l-185px {
    margin-left: 185px;
}

.m-l-186px {
    margin-left: 186px;
}

.m-l-187px {
    margin-left: 187px;
}

.m-l-188px {
    margin-left: 188px;
}

.m-l-189px {
    margin-left: 189px;
}

.m-l-190px {
    margin-left: 190px;
}

.m-l-191px {
    margin-left: 191px;
}

.m-l-192px {
    margin-left: 192px;
}

.m-l-193px {
    margin-left: 193px;
}

.m-l-194px {
    margin-left: 194px;
}

.m-l-195px {
    margin-left: 195px;
}

.m-l-196px {
    margin-left: 196px;
}

.m-l-197px {
    margin-left: 197px;
}

.m-l-198px {
    margin-left: 198px;
}

.m-l-199px {
    margin-left: 199px;
}

.m-l-200px {
    margin-left: 200px;
}

/****************************************/
/*Margin-right-pixels*/
/****************************************/
.m-r-0px {
    margin-right: 0px;
}

.m-r-1px {
    margin-right: 1px;
}

.m-r-2px {
    margin-right: 2px;
}

.m-r-3px {
    margin-right: 3px;
}

.m-r-4px {
    margin-right: 4px;
}

.m-r-5px {
    margin-right: 5px;
}

.m-r-6px {
    margin-right: 6px;
}

.m-r-7px {
    margin-right: 7px;
}

.m-r-8px {
    margin-right: 8px;
}

.m-r-9px {
    margin-right: 9px;
}

.m-r-10px {
    margin-right: 10px;
}

.m-r-11px {
    margin-right: 11px;
}

.m-r-12px {
    margin-right: 12px;
}

.m-r-13px {
    margin-right: 13px;
}

.m-r-14px {
    margin-right: 14px;
}

.m-r-15px {
    margin-right: 15px;
}

.m-r-16px {
    margin-right: 16px;
}

.m-r-17px {
    margin-right: 17px;
}

.m-r-18px {
    margin-right: 18px;
}

.m-r-19px {
    margin-right: 19px;
}

.m-r-20px {
    margin-right: 20px;
}

.m-r-21px {
    margin-right: 21px;
}

.m-r-22px {
    margin-right: 22px;
}

.m-r-23px {
    margin-right: 23px;
}

.m-r-24px {
    margin-right: 24px;
}

.m-r-25px {
    margin-right: 25px;
}

.m-r-26px {
    margin-right: 26px;
}

.m-r-27px {
    margin-right: 27px;
}

.m-r-28px {
    margin-right: 28px;
}

.m-r-29px {
    margin-right: 29px;
}

.m-r-30px {
    margin-right: 30px;
}

.m-r-31px {
    margin-right: 31px;
}

.m-r-32px {
    margin-right: 32px;
}

.m-r-33px {
    margin-right: 33px;
}

.m-r-34px {
    margin-right: 34px;
}

.m-r-35px {
    margin-right: 35px;
}

.m-r-36px {
    margin-right: 36px;
}

.m-r-37px {
    margin-right: 37px;
}

.m-r-38px {
    margin-right: 38px;
}

.m-r-39px {
    margin-right: 39px;
}

.m-r-40px {
    margin-right: 40px;
}

.m-r-41px {
    margin-right: 41px;
}

.m-r-42px {
    margin-right: 42px;
}

.m-r-43px {
    margin-right: 43px;
}

.m-r-44px {
    margin-right: 44px;
}

.m-r-45px {
    margin-right: 45px;
}

.m-r-46px {
    margin-right: 46px;
}

.m-r-47px {
    margin-right: 47px;
}

.m-r-48px {
    margin-right: 48px;
}

.m-r-49px {
    margin-right: 49px;
}

.m-r-50px {
    margin-right: 50px;
}

.m-r-51px {
    margin-right: 51px;
}

.m-r-52px {
    margin-right: 52px;
}

.m-r-53px {
    margin-right: 53px;
}

.m-r-54px {
    margin-right: 54px;
}

.m-r-55px {
    margin-right: 55px;
}

.m-r-56px {
    margin-right: 56px;
}

.m-r-57px {
    margin-right: 57px;
}

.m-r-58px {
    margin-right: 58px;
}

.m-r-59px {
    margin-right: 59px;
}

.m-r-60px {
    margin-right: 60px;
}

.m-r-61px {
    margin-right: 61px;
}

.m-r-62px {
    margin-right: 62px;
}

.m-r-63px {
    margin-right: 63px;
}

.m-r-64px {
    margin-right: 64px;
}

.m-r-65px {
    margin-right: 65px;
}

.m-r-66px {
    margin-right: 66px;
}

.m-r-67px {
    margin-right: 67px;
}

.m-r-68px {
    margin-right: 68px;
}

.m-r-69px {
    margin-right: 69px;
}

.m-r-70px {
    margin-right: 70px;
}

.m-r-71px {
    margin-right: 71px;
}

.m-r-72px {
    margin-right: 72px;
}

.m-r-73px {
    margin-right: 73px;
}

.m-r-74px {
    margin-right: 74px;
}

.m-r-75px {
    margin-right: 75px;
}

.m-r-76px {
    margin-right: 76px;
}

.m-r-77px {
    margin-right: 77px;
}

.m-r-78px {
    margin-right: 78px;
}

.m-r-79px {
    margin-right: 79px;
}

.m-r-80px {
    margin-right: 80px;
}

.m-r-81px {
    margin-right: 81px;
}

.m-r-82px {
    margin-right: 82px;
}

.m-r-83px {
    margin-right: 83px;
}

.m-r-84px {
    margin-right: 84px;
}

.m-r-85px {
    margin-right: 85px;
}

.m-r-86px {
    margin-right: 86px;
}

.m-r-87px {
    margin-right: 87px;
}

.m-r-88px {
    margin-right: 88px;
}

.m-r-89px {
    margin-right: 89px;
}

.m-r-90px {
    margin-right: 90px;
}

.m-r-91px {
    margin-right: 91px;
}

.m-r-92px {
    margin-right: 92px;
}

.m-r-93px {
    margin-right: 93px;
}

.m-r-94px {
    margin-right: 94px;
}

.m-r-95px {
    margin-right: 95px;
}

.m-r-96px {
    margin-right: 96px;
}

.m-r-97px {
    margin-right: 97px;
}

.m-r-98px {
    margin-right: 98px;
}

.m-r-99px {
    margin-right: 99px;
}

.m-r-100px {
    margin-right: 100px;
}

.m-r-101px {
    margin-right: 101px;
}

.m-r-102px {
    margin-right: 102px;
}

.m-r-103px {
    margin-right: 103px;
}

.m-r-104px {
    margin-right: 104px;
}

.m-r-105px {
    margin-right: 105px;
}

.m-r-106px {
    margin-right: 106px;
}

.m-r-107px {
    margin-right: 107px;
}

.m-r-108px {
    margin-right: 108px;
}

.m-r-109px {
    margin-right: 109px;
}

.m-r-110px {
    margin-right: 110px;
}

.m-r-111px {
    margin-right: 111px;
}

.m-r-112px {
    margin-right: 112px;
}

.m-r-113px {
    margin-right: 113px;
}

.m-r-114px {
    margin-right: 114px;
}

.m-r-115px {
    margin-right: 115px;
}

.m-r-116px {
    margin-right: 116px;
}

.m-r-117px {
    margin-right: 117px;
}

.m-r-118px {
    margin-right: 118px;
}

.m-r-119px {
    margin-right: 119px;
}

.m-r-120px {
    margin-right: 120px;
}

.m-r-121px {
    margin-right: 121px;
}

.m-r-122px {
    margin-right: 122px;
}

.m-r-123px {
    margin-right: 123px;
}

.m-r-124px {
    margin-right: 124px;
}

.m-r-125px {
    margin-right: 125px;
}

.m-r-126px {
    margin-right: 126px;
}

.m-r-127px {
    margin-right: 127px;
}

.m-r-128px {
    margin-right: 128px;
}

.m-r-129px {
    margin-right: 129px;
}

.m-r-130px {
    margin-right: 130px;
}

.m-r-131px {
    margin-right: 131px;
}

.m-r-132px {
    margin-right: 132px;
}

.m-r-133px {
    margin-right: 133px;
}

.m-r-134px {
    margin-right: 134px;
}

.m-r-135px {
    margin-right: 135px;
}

.m-r-136px {
    margin-right: 136px;
}

.m-r-137px {
    margin-right: 137px;
}

.m-r-138px {
    margin-right: 138px;
}

.m-r-139px {
    margin-right: 139px;
}

.m-r-140px {
    margin-right: 140px;
}

.m-r-141px {
    margin-right: 141px;
}

.m-r-142px {
    margin-right: 142px;
}

.m-r-143px {
    margin-right: 143px;
}

.m-r-144px {
    margin-right: 144px;
}

.m-r-145px {
    margin-right: 145px;
}

.m-r-146px {
    margin-right: 146px;
}

.m-r-147px {
    margin-right: 147px;
}

.m-r-148px {
    margin-right: 148px;
}

.m-r-149px {
    margin-right: 149px;
}

.m-r-150px {
    margin-right: 150px;
}

.m-r-151px {
    margin-right: 151px;
}

.m-r-152px {
    margin-right: 152px;
}

.m-r-153px {
    margin-right: 153px;
}

.m-r-154px {
    margin-right: 154px;
}

.m-r-155px {
    margin-right: 155px;
}

.m-r-156px {
    margin-right: 156px;
}

.m-r-157px {
    margin-right: 157px;
}

.m-r-158px {
    margin-right: 158px;
}

.m-r-159px {
    margin-right: 159px;
}

.m-r-160px {
    margin-right: 160px;
}

.m-r-161px {
    margin-right: 161px;
}

.m-r-162px {
    margin-right: 162px;
}

.m-r-163px {
    margin-right: 163px;
}

.m-r-164px {
    margin-right: 164px;
}

.m-r-165px {
    margin-right: 165px;
}

.m-r-166px {
    margin-right: 166px;
}

.m-r-167px {
    margin-right: 167px;
}

.m-r-168px {
    margin-right: 168px;
}

.m-r-169px {
    margin-right: 169px;
}

.m-r-170px {
    margin-right: 170px;
}

.m-r-171px {
    margin-right: 171px;
}

.m-r-172px {
    margin-right: 172px;
}

.m-r-173px {
    margin-right: 173px;
}

.m-r-174px {
    margin-right: 174px;
}

.m-r-175px {
    margin-right: 175px;
}

.m-r-176px {
    margin-right: 176px;
}

.m-r-177px {
    margin-right: 177px;
}

.m-r-178px {
    margin-right: 178px;
}

.m-r-179px {
    margin-right: 179px;
}

.m-r-180px {
    margin-right: 180px;
}

.m-r-181px {
    margin-right: 181px;
}

.m-r-182px {
    margin-right: 182px;
}

.m-r-183px {
    margin-right: 183px;
}

.m-r-184px {
    margin-right: 184px;
}

.m-r-185px {
    margin-right: 185px;
}

.m-r-186px {
    margin-right: 186px;
}

.m-r-187px {
    margin-right: 187px;
}

.m-r-188px {
    margin-right: 188px;
}

.m-r-189px {
    margin-right: 189px;
}

.m-r-190px {
    margin-right: 190px;
}

.m-r-191px {
    margin-right: 191px;
}

.m-r-192px {
    margin-right: 192px;
}

.m-r-193px {
    margin-right: 193px;
}

.m-r-194px {
    margin-right: 194px;
}

.m-r-195px {
    margin-right: 195px;
}

.m-r-196px {
    margin-right: 196px;
}

.m-r-197px {
    margin-right: 197px;
}

.m-r-198px {
    margin-right: 198px;
}

.m-r-199px {
    margin-right: 199px;
}

.m-r-200px {
    margin-right: 200px;
}




/*PERCENTAGE*/
/****************************************/
/*Margin-percent*/
/****************************************/
.m-0pc {
    margin: 0%;
}

.m-1pc {
    margin: 1%;
}

.m-2pc {
    margin: 2%;
}

.m-3pc {
    margin: 3%;
}

.m-4pc {
    margin: 4%;
}

.m-5pc {
    margin: 5%;
}

.m-6pc {
    margin: 6%;
}

.m-7pc {
    margin: 7%;
}

.m-8pc {
    margin: 8%;
}

.m-9pc {
    margin: 9%;
}

.m-10pc {
    margin: 10%;
}

.m-11pc {
    margin: 11%;
}

.m-12pc {
    margin: 12%;
}

.m-13pc {
    margin: 13%;
}

.m-14pc {
    margin: 14%;
}

.m-15pc {
    margin: 15%;
}

.m-16pc {
    margin: 16%;
}

.m-17pc {
    margin: 17%;
}

.m-18pc {
    margin: 18%;
}

.m-19pc {
    margin: 19%;
}

.m-20pc {
    margin: 20%;
}

.m-21pc {
    margin: 21%;
}

.m-22pc {
    margin: 22%;
}

.m-23pc {
    margin: 23%;
}

.m-24pc {
    margin: 24%;
}

.m-25pc {
    margin: 25%;
}

.m-26pc {
    margin: 26%;
}

.m-27pc {
    margin: 27%;
}

.m-28pc {
    margin: 28%;
}

.m-29pc {
    margin: 29%;
}

.m-30pc {
    margin: 30%;
}

.m-31pc {
    margin: 31%;
}

.m-32pc {
    margin: 32%;
}

.m-33pc {
    margin: 33%;
}

.m-34pc {
    margin: 34%;
}

.m-35pc {
    margin: 35%;
}

.m-36pc {
    margin: 36%;
}

.m-37pc {
    margin: 37%;
}

.m-38pc {
    margin: 38%;
}

.m-39pc {
    margin: 39%;
}

.m-40pc {
    margin: 40%;
}

.m-41pc {
    margin: 41%;
}

.m-42pc {
    margin: 42%;
}

.m-43pc {
    margin: 43%;
}

.m-44pc {
    margin: 44%;
}

.m-45pc {
    margin: 45%;
}

.m-46pc {
    margin: 46%;
}

.m-47pc {
    margin: 47%;
}

.m-48pc {
    margin: 48%;
}

.m-49pc {
    margin: 49%;
}

.m-50pc {
    margin: 50%;
}

.m-51pc {
    margin: 51%;
}

.m-52pc {
    margin: 52%;
}

.m-53pc {
    margin: 53%;
}

.m-54pc {
    margin: 54%;
}

.m-55pc {
    margin: 55%;
}

.m-56pc {
    margin: 56%;
}

.m-57pc {
    margin: 57%;
}

.m-58pc {
    margin: 58%;
}

.m-59pc {
    margin: 59%;
}

.m-60pc {
    margin: 60%;
}

.m-61pc {
    margin: 61%;
}

.m-62pc {
    margin: 62%;
}

.m-63pc {
    margin: 63%;
}

.m-64pc {
    margin: 64%;
}

.m-65pc {
    margin: 65%;
}

.m-66pc {
    margin: 66%;
}

.m-67pc {
    margin: 67%;
}

.m-68pc {
    margin: 68%;
}

.m-69pc {
    margin: 69%;
}

.m-70pc {
    margin: 70%;
}

.m-71pc {
    margin: 71%;
}

.m-72pc {
    margin: 72%;
}

.m-73pc {
    margin: 73%;
}

.m-74pc {
    margin: 74%;
}

.m-75pc {
    margin: 75%;
}

.m-76pc {
    margin: 76%;
}

.m-77pc {
    margin: 77%;
}

.m-78pc {
    margin: 78%;
}

.m-79pc {
    margin: 79%;
}

.m-80pc {
    margin: 80%;
}

.m-81pc {
    margin: 81%;
}

.m-82pc {
    margin: 82%;
}

.m-83pc {
    margin: 83%;
}

.m-84pc {
    margin: 84%;
}

.m-85pc {
    margin: 85%;
}

.m-86pc {
    margin: 86%;
}

.m-87pc {
    margin: 87%;
}

.m-88pc {
    margin: 88%;
}

.m-89pc {
    margin: 89%;
}

.m-90pc {
    margin: 90%;
}

.m-91pc {
    margin: 91%;
}

.m-92pc {
    margin: 92%;
}

.m-93pc {
    margin: 93%;
}

.m-94pc {
    margin: 94%;
}

.m-95pc {
    margin: 95%;
}

.m-96pc {
    margin: 96%;
}

.m-97pc {
    margin: 97%;
}

.m-98pc {
    margin: 98%;
}

.m-99pc {
    margin: 99%;
}

.m-100pc {
    margin: 100%;
}

/****************************************/
/*Margin-top-percent*/
/****************************************/
.m-t-0pc {
    margin-top: 0%;
}

.m-t-1pc {
    margin-top: 1%;
}

.m-t-2pc {
    margin-top: 2%;
}

.m-t-3pc {
    margin-top: 3%;
}

.m-t-4pc {
    margin-top: 4%;
}

.m-t-5pc {
    margin-top: 5%;
}

.m-t-6pc {
    margin-top: 6%;
}

.m-t-7pc {
    margin-top: 7%;
}

.m-t-8pc {
    margin-top: 8%;
}

.m-t-9pc {
    margin-top: 9%;
}

.m-t-10pc {
    margin-top: 10%;
}

.m-t-11pc {
    margin-top: 11%;
}

.m-t-12pc {
    margin-top: 12%;
}

.m-t-13pc {
    margin-top: 13%;
}

.m-t-14pc {
    margin-top: 14%;
}

.m-t-15pc {
    margin-top: 15%;
}

.m-t-16pc {
    margin-top: 16%;
}

.m-t-17pc {
    margin-top: 17%;
}

.m-t-18pc {
    margin-top: 18%;
}

.m-t-19pc {
    margin-top: 19%;
}

.m-t-20pc {
    margin-top: 20%;
}

.m-t-21pc {
    margin-top: 21%;
}

.m-t-22pc {
    margin-top: 22%;
}

.m-t-23pc {
    margin-top: 23%;
}

.m-t-24pc {
    margin-top: 24%;
}

.m-t-25pc {
    margin-top: 25%;
}

.m-t-26pc {
    margin-top: 26%;
}

.m-t-27pc {
    margin-top: 27%;
}

.m-t-28pc {
    margin-top: 28%;
}

.m-t-29pc {
    margin-top: 29%;
}

.m-t-30pc {
    margin-top: 30%;
}

.m-t-31pc {
    margin-top: 31%;
}

.m-t-32pc {
    margin-top: 32%;
}

.m-t-33pc {
    margin-top: 33%;
}

.m-t-34pc {
    margin-top: 34%;
}

.m-t-35pc {
    margin-top: 35%;
}

.m-t-36pc {
    margin-top: 36%;
}

.m-t-37pc {
    margin-top: 37%;
}

.m-t-38pc {
    margin-top: 38%;
}

.m-t-39pc {
    margin-top: 39%;
}

.m-t-40pc {
    margin-top: 40%;
}

.m-t-41pc {
    margin-top: 41%;
}

.m-t-42pc {
    margin-top: 42%;
}

.m-t-43pc {
    margin-top: 43%;
}

.m-t-44pc {
    margin-top: 44%;
}

.m-t-45pc {
    margin-top: 45%;
}

.m-t-46pc {
    margin-top: 46%;
}

.m-t-47pc {
    margin-top: 47%;
}

.m-t-48pc {
    margin-top: 48%;
}

.m-t-49pc {
    margin-top: 49%;
}

.m-t-50pc {
    margin-top: 50%;
}

.m-t-51pc {
    margin-top: 51%;
}

.m-t-52pc {
    margin-top: 52%;
}

.m-t-53pc {
    margin-top: 53%;
}

.m-t-54pc {
    margin-top: 54%;
}

.m-t-55pc {
    margin-top: 55%;
}

.m-t-56pc {
    margin-top: 56%;
}

.m-t-57pc {
    margin-top: 57%;
}

.m-t-58pc {
    margin-top: 58%;
}

.m-t-59pc {
    margin-top: 59%;
}

.m-t-60pc {
    margin-top: 60%;
}

.m-t-61pc {
    margin-top: 61%;
}

.m-t-62pc {
    margin-top: 62%;
}

.m-t-63pc {
    margin-top: 63%;
}

.m-t-64pc {
    margin-top: 64%;
}

.m-t-65pc {
    margin-top: 65%;
}

.m-t-66pc {
    margin-top: 66%;
}

.m-t-67pc {
    margin-top: 67%;
}

.m-t-68pc {
    margin-top: 68%;
}

.m-t-69pc {
    margin-top: 69%;
}

.m-t-70pc {
    margin-top: 70%;
}

.m-t-71pc {
    margin-top: 71%;
}

.m-t-72pc {
    margin-top: 72%;
}

.m-t-73pc {
    margin-top: 73%;
}

.m-t-74pc {
    margin-top: 74%;
}

.m-t-75pc {
    margin-top: 75%;
}

.m-t-76pc {
    margin-top: 76%;
}

.m-t-77pc {
    margin-top: 77%;
}

.m-t-78pc {
    margin-top: 78%;
}

.m-t-79pc {
    margin-top: 79%;
}

.m-t-80pc {
    margin-top: 80%;
}

.m-t-81pc {
    margin-top: 81%;
}

.m-t-82pc {
    margin-top: 82%;
}

.m-t-83pc {
    margin-top: 83%;
}

.m-t-84pc {
    margin-top: 84%;
}

.m-t-85pc {
    margin-top: 85%;
}

.m-t-86pc {
    margin-top: 86%;
}

.m-t-87pc {
    margin-top: 87%;
}

.m-t-88pc {
    margin-top: 88%;
}

.m-t-89pc {
    margin-top: 89%;
}

.m-t-90pc {
    margin-top: 90%;
}

.m-t-91pc {
    margin-top: 91%;
}

.m-t-92pc {
    margin-top: 92%;
}

.m-t-93pc {
    margin-top: 93%;
}

.m-t-94pc {
    margin-top: 94%;
}

.m-t-95pc {
    margin-top: 95%;
}

.m-t-96pc {
    margin-top: 96%;
}

.m-t-97pc {
    margin-top: 97%;
}

.m-t-98pc {
    margin-top: 98%;
}

.m-t-99pc {
    margin-top: 99%;
}

.m-t-100pc {
    margin-top: 100%;
}

/****************************************/
/*Margin-bottom-percent*/
/****************************************/
.m-b-0pc {
    margin-bottom: 0%;
}

.m-b-1pc {
    margin-bottom: 1%;
}

.m-b-2pc {
    margin-bottom: 2%;
}

.m-b-3pc {
    margin-bottom: 3%;
}

.m-b-4pc {
    margin-bottom: 4%;
}

.m-b-5pc {
    margin-bottom: 5%;
}

.m-b-6pc {
    margin-bottom: 6%;
}

.m-b-7pc {
    margin-bottom: 7%;
}

.m-b-8pc {
    margin-bottom: 8%;
}

.m-b-9pc {
    margin-bottom: 9%;
}

.m-b-10pc {
    margin-bottom: 10%;
}

.m-b-11pc {
    margin-bottom: 11%;
}

.m-b-12pc {
    margin-bottom: 12%;
}

.m-b-13pc {
    margin-bottom: 13%;
}

.m-b-14pc {
    margin-bottom: 14%;
}

.m-b-15pc {
    margin-bottom: 15%;
}

.m-b-16pc {
    margin-bottom: 16%;
}

.m-b-17pc {
    margin-bottom: 17%;
}

.m-b-18pc {
    margin-bottom: 18%;
}

.m-b-19pc {
    margin-bottom: 19%;
}

.m-b-20pc {
    margin-bottom: 20%;
}

.m-b-21pc {
    margin-bottom: 21%;
}

.m-b-22pc {
    margin-bottom: 22%;
}

.m-b-23pc {
    margin-bottom: 23%;
}

.m-b-24pc {
    margin-bottom: 24%;
}

.m-b-25pc {
    margin-bottom: 25%;
}

.m-b-26pc {
    margin-bottom: 26%;
}

.m-b-27pc {
    margin-bottom: 27%;
}

.m-b-28pc {
    margin-bottom: 28%;
}

.m-b-29pc {
    margin-bottom: 29%;
}

.m-b-30pc {
    margin-bottom: 30%;
}

.m-b-31pc {
    margin-bottom: 31%;
}

.m-b-32pc {
    margin-bottom: 32%;
}

.m-b-33pc {
    margin-bottom: 33%;
}

.m-b-34pc {
    margin-bottom: 34%;
}

.m-b-35pc {
    margin-bottom: 35%;
}

.m-b-36pc {
    margin-bottom: 36%;
}

.m-b-37pc {
    margin-bottom: 37%;
}

.m-b-38pc {
    margin-bottom: 38%;
}

.m-b-39pc {
    margin-bottom: 39%;
}

.m-b-40pc {
    margin-bottom: 40%;
}

.m-b-41pc {
    margin-bottom: 41%;
}

.m-b-42pc {
    margin-bottom: 42%;
}

.m-b-43pc {
    margin-bottom: 43%;
}

.m-b-44pc {
    margin-bottom: 44%;
}

.m-b-45pc {
    margin-bottom: 45%;
}

.m-b-46pc {
    margin-bottom: 46%;
}

.m-b-47pc {
    margin-bottom: 47%;
}

.m-b-48pc {
    margin-bottom: 48%;
}

.m-b-49pc {
    margin-bottom: 49%;
}

.m-b-50pc {
    margin-bottom: 50%;
}

.m-b-51pc {
    margin-bottom: 51%;
}

.m-b-52pc {
    margin-bottom: 52%;
}

.m-b-53pc {
    margin-bottom: 53%;
}

.m-b-54pc {
    margin-bottom: 54%;
}

.m-b-55pc {
    margin-bottom: 55%;
}

.m-b-56pc {
    margin-bottom: 56%;
}

.m-b-57pc {
    margin-bottom: 57%;
}

.m-b-58pc {
    margin-bottom: 58%;
}

.m-b-59pc {
    margin-bottom: 59%;
}

.m-b-60pc {
    margin-bottom: 60%;
}

.m-b-61pc {
    margin-bottom: 61%;
}

.m-b-62pc {
    margin-bottom: 62%;
}

.m-b-63pc {
    margin-bottom: 63%;
}

.m-b-64pc {
    margin-bottom: 64%;
}

.m-b-65pc {
    margin-bottom: 65%;
}

.m-b-66pc {
    margin-bottom: 66%;
}

.m-b-67pc {
    margin-bottom: 67%;
}

.m-b-68pc {
    margin-bottom: 68%;
}

.m-b-69pc {
    margin-bottom: 69%;
}

.m-b-70pc {
    margin-bottom: 70%;
}

.m-b-71pc {
    margin-bottom: 71%;
}

.m-b-72pc {
    margin-bottom: 72%;
}

.m-b-73pc {
    margin-bottom: 73%;
}

.m-b-74pc {
    margin-bottom: 74%;
}

.m-b-75pc {
    margin-bottom: 75%;
}

.m-b-76pc {
    margin-bottom: 76%;
}

.m-b-77pc {
    margin-bottom: 77%;
}

.m-b-78pc {
    margin-bottom: 78%;
}

.m-b-79pc {
    margin-bottom: 79%;
}

.m-b-80pc {
    margin-bottom: 80%;
}

.m-b-81pc {
    margin-bottom: 81%;
}

.m-b-82pc {
    margin-bottom: 82%;
}

.m-b-83pc {
    margin-bottom: 83%;
}

.m-b-84pc {
    margin-bottom: 84%;
}

.m-b-85pc {
    margin-bottom: 85%;
}

.m-b-86pc {
    margin-bottom: 86%;
}

.m-b-87pc {
    margin-bottom: 87%;
}

.m-b-88pc {
    margin-bottom: 88%;
}

.m-b-89pc {
    margin-bottom: 89%;
}

.m-b-90pc {
    margin-bottom: 90%;
}

.m-b-91pc {
    margin-bottom: 91%;
}

.m-b-92pc {
    margin-bottom: 92%;
}

.m-b-93pc {
    margin-bottom: 93%;
}

.m-b-94pc {
    margin-bottom: 94%;
}

.m-b-95pc {
    margin-bottom: 95%;
}

.m-b-96pc {
    margin-bottom: 96%;
}

.m-b-97pc {
    margin-bottom: 97%;
}

.m-b-98pc {
    margin-bottom: 98%;
}

.m-b-99pc {
    margin-bottom: 99%;
}

.m-b-100pc {
    margin-bottom: 100%;
}

/****************************************/
/*Margin-left-percent*/
/****************************************/
.m-l-0pc {
    margin-left: 0%;
}

.m-l-1pc {
    margin-left: 1%;
}

.m-l-2pc {
    margin-left: 2%;
}

.m-l-3pc {
    margin-left: 3%;
}

.m-l-4pc {
    margin-left: 4%;
}

.m-l-5pc {
    margin-left: 5%;
}

.m-l-6pc {
    margin-left: 6%;
}

.m-l-7pc {
    margin-left: 7%;
}

.m-l-8pc {
    margin-left: 8%;
}

.m-l-9pc {
    margin-left: 9%;
}

.m-l-10pc {
    margin-left: 10%;
}

.m-l-11pc {
    margin-left: 11%;
}

.m-l-12pc {
    margin-left: 12%;
}

.m-l-13pc {
    margin-left: 13%;
}

.m-l-14pc {
    margin-left: 14%;
}

.m-l-15pc {
    margin-left: 15%;
}

.m-l-16pc {
    margin-left: 16%;
}

.m-l-17pc {
    margin-left: 17%;
}

.m-l-18pc {
    margin-left: 18%;
}

.m-l-19pc {
    margin-left: 19%;
}

.m-l-20pc {
    margin-left: 20%;
}

.m-l-21pc {
    margin-left: 21%;
}

.m-l-22pc {
    margin-left: 22%;
}

.m-l-23pc {
    margin-left: 23%;
}

.m-l-24pc {
    margin-left: 24%;
}

.m-l-25pc {
    margin-left: 25%;
}

.m-l-26pc {
    margin-left: 26%;
}

.m-l-27pc {
    margin-left: 27%;
}

.m-l-28pc {
    margin-left: 28%;
}

.m-l-29pc {
    margin-left: 29%;
}

.m-l-30pc {
    margin-left: 30%;
}

.m-l-31pc {
    margin-left: 31%;
}

.m-l-32pc {
    margin-left: 32%;
}

.m-l-33pc {
    margin-left: 33%;
}

.m-l-34pc {
    margin-left: 34%;
}

.m-l-35pc {
    margin-left: 35%;
}

.m-l-36pc {
    margin-left: 36%;
}

.m-l-37pc {
    margin-left: 37%;
}

.m-l-38pc {
    margin-left: 38%;
}

.m-l-39pc {
    margin-left: 39%;
}

.m-l-40pc {
    margin-left: 40%;
}

.m-l-41pc {
    margin-left: 41%;
}

.m-l-42pc {
    margin-left: 42%;
}

.m-l-43pc {
    margin-left: 43%;
}

.m-l-44pc {
    margin-left: 44%;
}

.m-l-45pc {
    margin-left: 45%;
}

.m-l-46pc {
    margin-left: 46%;
}

.m-l-47pc {
    margin-left: 47%;
}

.m-l-48pc {
    margin-left: 48%;
}

.m-l-49pc {
    margin-left: 49%;
}

.m-l-50pc {
    margin-left: 50%;
}

.m-l-51pc {
    margin-left: 51%;
}

.m-l-52pc {
    margin-left: 52%;
}

.m-l-53pc {
    margin-left: 53%;
}

.m-l-54pc {
    margin-left: 54%;
}

.m-l-55pc {
    margin-left: 55%;
}

.m-l-56pc {
    margin-left: 56%;
}

.m-l-57pc {
    margin-left: 57%;
}

.m-l-58pc {
    margin-left: 58%;
}

.m-l-59pc {
    margin-left: 59%;
}

.m-l-60pc {
    margin-left: 60%;
}

.m-l-61pc {
    margin-left: 61%;
}

.m-l-62pc {
    margin-left: 62%;
}

.m-l-63pc {
    margin-left: 63%;
}

.m-l-64pc {
    margin-left: 64%;
}

.m-l-65pc {
    margin-left: 65%;
}

.m-l-66pc {
    margin-left: 66%;
}

.m-l-67pc {
    margin-left: 67%;
}

.m-l-68pc {
    margin-left: 68%;
}

.m-l-69pc {
    margin-left: 69%;
}

.m-l-70pc {
    margin-left: 70%;
}

.m-l-71pc {
    margin-left: 71%;
}

.m-l-72pc {
    margin-left: 72%;
}

.m-l-73pc {
    margin-left: 73%;
}

.m-l-74pc {
    margin-left: 74%;
}

.m-l-75pc {
    margin-left: 75%;
}

.m-l-76pc {
    margin-left: 76%;
}

.m-l-77pc {
    margin-left: 77%;
}

.m-l-78pc {
    margin-left: 78%;
}

.m-l-79pc {
    margin-left: 79%;
}

.m-l-80pc {
    margin-left: 80%;
}

.m-l-81pc {
    margin-left: 81%;
}

.m-l-82pc {
    margin-left: 82%;
}

.m-l-83pc {
    margin-left: 83%;
}

.m-l-84pc {
    margin-left: 84%;
}

.m-l-85pc {
    margin-left: 85%;
}

.m-l-86pc {
    margin-left: 86%;
}

.m-l-87pc {
    margin-left: 87%;
}

.m-l-88pc {
    margin-left: 88%;
}

.m-l-89pc {
    margin-left: 89%;
}

.m-l-90pc {
    margin-left: 90%;
}

.m-l-91pc {
    margin-left: 91%;
}

.m-l-92pc {
    margin-left: 92%;
}

.m-l-93pc {
    margin-left: 93%;
}

.m-l-94pc {
    margin-left: 94%;
}

.m-l-95pc {
    margin-left: 95%;
}

.m-l-96pc {
    margin-left: 96%;
}

.m-l-97pc {
    margin-left: 97%;
}

.m-l-98pc {
    margin-left: 98%;
}

.m-l-99pc {
    margin-left: 99%;
}

.m-l-100pc {
    margin-left: 100%;
}

/****************************************/
/*Margin-right-percent*/
/****************************************/
.m-r-0pc {
    margin-right: 0%;
}

.m-r-1pc {
    margin-right: 1%;
}

.m-r-2pc {
    margin-right: 2%;
}

.m-r-3pc {
    margin-right: 3%;
}

.m-r-4pc {
    margin-right: 4%;
}

.m-r-5pc {
    margin-right: 5%;
}

.m-r-6pc {
    margin-right: 6%;
}

.m-r-7pc {
    margin-right: 7%;
}

.m-r-8pc {
    margin-right: 8%;
}

.m-r-9pc {
    margin-right: 9%;
}

.m-r-10pc {
    margin-right: 10%;
}

.m-r-11pc {
    margin-right: 11%;
}

.m-r-12pc {
    margin-right: 12%;
}

.m-r-13pc {
    margin-right: 13%;
}

.m-r-14pc {
    margin-right: 14%;
}

.m-r-15pc {
    margin-right: 15%;
}

.m-r-16pc {
    margin-right: 16%;
}

.m-r-17pc {
    margin-right: 17%;
}

.m-r-18pc {
    margin-right: 18%;
}

.m-r-19pc {
    margin-right: 19%;
}

.m-r-20pc {
    margin-right: 20%;
}

.m-r-21pc {
    margin-right: 21%;
}

.m-r-22pc {
    margin-right: 22%;
}

.m-r-23pc {
    margin-right: 23%;
}

.m-r-24pc {
    margin-right: 24%;
}

.m-r-25pc {
    margin-right: 25%;
}

.m-r-26pc {
    margin-right: 26%;
}

.m-r-27pc {
    margin-right: 27%;
}

.m-r-28pc {
    margin-right: 28%;
}

.m-r-29pc {
    margin-right: 29%;
}

.m-r-30pc {
    margin-right: 30%;
}

.m-r-31pc {
    margin-right: 31%;
}

.m-r-32pc {
    margin-right: 32%;
}

.m-r-33pc {
    margin-right: 33%;
}

.m-r-34pc {
    margin-right: 34%;
}

.m-r-35pc {
    margin-right: 35%;
}

.m-r-36pc {
    margin-right: 36%;
}

.m-r-37pc {
    margin-right: 37%;
}

.m-r-38pc {
    margin-right: 38%;
}

.m-r-39pc {
    margin-right: 39%;
}

.m-r-40pc {
    margin-right: 40%;
}

.m-r-41pc {
    margin-right: 41%;
}

.m-r-42pc {
    margin-right: 42%;
}

.m-r-43pc {
    margin-right: 43%;
}

.m-r-44pc {
    margin-right: 44%;
}

.m-r-45pc {
    margin-right: 45%;
}

.m-r-46pc {
    margin-right: 46%;
}

.m-r-47pc {
    margin-right: 47%;
}

.m-r-48pc {
    margin-right: 48%;
}

.m-r-49pc {
    margin-right: 49%;
}

.m-r-50pc {
    margin-right: 50%;
}

.m-r-51pc {
    margin-right: 51%;
}

.m-r-52pc {
    margin-right: 52%;
}

.m-r-53pc {
    margin-right: 53%;
}

.m-r-54pc {
    margin-right: 54%;
}

.m-r-55pc {
    margin-right: 55%;
}

.m-r-56pc {
    margin-right: 56%;
}

.m-r-57pc {
    margin-right: 57%;
}

.m-r-58pc {
    margin-right: 58%;
}

.m-r-59pc {
    margin-right: 59%;
}

.m-r-60pc {
    margin-right: 60%;
}

.m-r-61pc {
    margin-right: 61%;
}

.m-r-62pc {
    margin-right: 62%;
}

.m-r-63pc {
    margin-right: 63%;
}

.m-r-64pc {
    margin-right: 64%;
}

.m-r-65pc {
    margin-right: 65%;
}

.m-r-66pc {
    margin-right: 66%;
}

.m-r-67pc {
    margin-right: 67%;
}

.m-r-68pc {
    margin-right: 68%;
}

.m-r-69pc {
    margin-right: 69%;
}

.m-r-70pc {
    margin-right: 70%;
}

.m-r-71pc {
    margin-right: 71%;
}

.m-r-72pc {
    margin-right: 72%;
}

.m-r-73pc {
    margin-right: 73%;
}

.m-r-74pc {
    margin-right: 74%;
}

.m-r-75pc {
    margin-right: 75%;
}

.m-r-76pc {
    margin-right: 76%;
}

.m-r-77pc {
    margin-right: 77%;
}

.m-r-78pc {
    margin-right: 78%;
}

.m-r-79pc {
    margin-right: 79%;
}

.m-r-80pc {
    margin-right: 80%;
}

.m-r-81pc {
    margin-right: 81%;
}

.m-r-82pc {
    margin-right: 82%;
}

.m-r-83pc {
    margin-right: 83%;
}

.m-r-84pc {
    margin-right: 84%;
}

.m-r-85pc {
    margin-right: 85%;
}

.m-r-86pc {
    margin-right: 86%;
}

.m-r-87pc {
    margin-right: 87%;
}

.m-r-88pc {
    margin-right: 88%;
}

.m-r-89pc {
    margin-right: 89%;
}

.m-r-90pc {
    margin-right: 90%;
}

.m-r-91pc {
    margin-right: 91%;
}

.m-r-92pc {
    margin-right: 92%;
}

.m-r-93pc {
    margin-right: 93%;
}

.m-r-94pc {
    margin-right: 94%;
}

.m-r-95pc {
    margin-right: 95%;
}

.m-r-96pc {
    margin-right: 96%;
}

.m-r-97pc {
    margin-right: 97%;
}

.m-r-98pc {
    margin-right: 98%;
}

.m-r-99pc {
    margin-right: 99%;
}

.m-r-100pc {
    margin-right: 100%;
}


.m-auto{
    margin:auto;
}

