/*******************************/
/*TOP*/
/*******************************/
.top-0px {
    top: 0px;
}

.top-1px {
    top: 1px;
}

.top-2px {
    top: 2px;
}

.top-3px {
    top: 3px;
}

.top-4px {
    top: 4px;
}

.top-5px {
    top: 5px;
}

.top-6px {
    top: 6px;
}

.top-7px {
    top: 7px;
}

.top-8px {
    top: 8px;
}

.top-9px {
    top: 9px;
}

.top-10px {
    top: 10px;
}

.top-11px {
    top: 11px;
}

.top-12px {
    top: 12px;
}

.top-13px {
    top: 13px;
}

.top-14px {
    top: 14px;
}

.top-15px {
    top: 15px;
}

.top-16px {
    top: 16px;
}

.top-17px {
    top: 17px;
}

.top-18px {
    top: 18px;
}

.top-19px {
    top: 19px;
}

.top-20px {
    top: 20px;
}

.top-21px {
    top: 21px;
}

.top-22px {
    top: 22px;
}

.top-23px {
    top: 23px;
}

.top-24px {
    top: 24px;
}

.top-25px {
    top: 25px;
}

.top-26px {
    top: 26px;
}

.top-27px {
    top: 27px;
}

.top-28px {
    top: 28px;
}

.top-29px {
    top: 29px;
}

.top-30px {
    top: 30px;
}

.top-31px {
    top: 31px;
}

.top-32px {
    top: 32px;
}

.top-33px {
    top: 33px;
}

.top-34px {
    top: 34px;
}

.top-35px {
    top: 35px;
}

.top-36px {
    top: 36px;
}

.top-37px {
    top: 37px;
}

.top-38px {
    top: 38px;
}

.top-39px {
    top: 39px;
}

.top-40px {
    top: 40px;
}

.top-41px {
    top: 41px;
}

.top-42px {
    top: 42px;
}

.top-43px {
    top: 43px;
}

.top-44px {
    top: 44px;
}

.top-45px {
    top: 45px;
}

.top-46px {
    top: 46px;
}

.top-47px {
    top: 47px;
}

.top-48px {
    top: 48px;
}

.top-49px {
    top: 49px;
}

.top-50px {
    top: 50px;
}

.top-51px {
    top: 51px;
}

.top-52px {
    top: 52px;
}

.top-53px {
    top: 53px;
}

.top-54px {
    top: 54px;
}

.top-55px {
    top: 55px;
}

.top-56px {
    top: 56px;
}

.top-57px {
    top: 57px;
}

.top-58px {
    top: 58px;
}

.top-59px {
    top: 59px;
}

.top-60px {
    top: 60px;
}

.top-61px {
    top: 61px;
}

.top-62px {
    top: 62px;
}

.top-63px {
    top: 63px;
}

.top-64px {
    top: 64px;
}

.top-65px {
    top: 65px;
}

.top-66px {
    top: 66px;
}

.top-67px {
    top: 67px;
}

.top-68px {
    top: 68px;
}

.top-69px {
    top: 69px;
}

.top-70px {
    top: 70px;
}

.top-71px {
    top: 71px;
}

.top-72px {
    top: 72px;
}

.top-73px {
    top: 73px;
}

.top-74px {
    top: 74px;
}

.top-75px {
    top: 75px;
}

.top-76px {
    top: 76px;
}

.top-77px {
    top: 77px;
}

.top-78px {
    top: 78px;
}

.top-79px {
    top: 79px;
}

.top-80px {
    top: 80px;
}

.top-81px {
    top: 81px;
}

.top-82px {
    top: 82px;
}

.top-83px {
    top: 83px;
}

.top-84px {
    top: 84px;
}

.top-85px {
    top: 85px;
}

.top-86px {
    top: 86px;
}

.top-87px {
    top: 87px;
}

.top-88px {
    top: 88px;
}

.top-89px {
    top: 89px;
}

.top-90px {
    top: 90px;
}

.top-91px {
    top: 91px;
}

.top-92px {
    top: 92px;
}

.top-93px {
    top: 93px;
}

.top-94px {
    top: 94px;
}

.top-95px {
    top: 95px;
}

.top-96px {
    top: 96px;
}

.top-97px {
    top: 97px;
}

.top-98px {
    top: 98px;
}

.top-99px {
    top: 99px;
}

.top-100px {
    top: 100px;
}

.top-101px {
    top: 101px;
}

.top-102px {
    top: 102px;
}

.top-103px {
    top: 103px;
}

.top-104px {
    top: 104px;
}

.top-105px {
    top: 105px;
}

.top-106px {
    top: 106px;
}

.top-107px {
    top: 107px;
}

.top-108px {
    top: 108px;
}

.top-109px {
    top: 109px;
}

.top-110px {
    top: 110px;
}

.top-111px {
    top: 111px;
}

.top-112px {
    top: 112px;
}

.top-113px {
    top: 113px;
}

.top-114px {
    top: 114px;
}

.top-115px {
    top: 115px;
}

.top-116px {
    top: 116px;
}

.top-117px {
    top: 117px;
}

.top-118px {
    top: 118px;
}

.top-119px {
    top: 119px;
}

.top-120px {
    top: 120px;
}

.top-121px {
    top: 121px;
}

.top-122px {
    top: 122px;
}

.top-123px {
    top: 123px;
}

.top-124px {
    top: 124px;
}

.top-125px {
    top: 125px;
}

.top-126px {
    top: 126px;
}

.top-127px {
    top: 127px;
}

.top-128px {
    top: 128px;
}

.top-129px {
    top: 129px;
}

.top-130px {
    top: 130px;
}

.top-131px {
    top: 131px;
}

.top-132px {
    top: 132px;
}

.top-133px {
    top: 133px;
}

.top-134px {
    top: 134px;
}

.top-135px {
    top: 135px;
}

.top-136px {
    top: 136px;
}

.top-137px {
    top: 137px;
}

.top-138px {
    top: 138px;
}

.top-139px {
    top: 139px;
}

.top-140px {
    top: 140px;
}

.top-141px {
    top: 141px;
}

.top-142px {
    top: 142px;
}

.top-143px {
    top: 143px;
}

.top-144px {
    top: 144px;
}

.top-145px {
    top: 145px;
}

.top-146px {
    top: 146px;
}

.top-147px {
    top: 147px;
}

.top-148px {
    top: 148px;
}

.top-149px {
    top: 149px;
}

.top-150px {
    top: 150px;
}

.top-151px {
    top: 151px;
}

.top-152px {
    top: 152px;
}

.top-153px {
    top: 153px;
}

.top-154px {
    top: 154px;
}

.top-155px {
    top: 155px;
}

.top-156px {
    top: 156px;
}

.top-157px {
    top: 157px;
}

.top-158px {
    top: 158px;
}

.top-159px {
    top: 159px;
}

.top-160px {
    top: 160px;
}

.top-161px {
    top: 161px;
}

.top-162px {
    top: 162px;
}

.top-163px {
    top: 163px;
}

.top-164px {
    top: 164px;
}

.top-165px {
    top: 165px;
}

.top-166px {
    top: 166px;
}

.top-167px {
    top: 167px;
}

.top-168px {
    top: 168px;
}

.top-169px {
    top: 169px;
}

.top-170px {
    top: 170px;
}

.top-171px {
    top: 171px;
}

.top-172px {
    top: 172px;
}

.top-173px {
    top: 173px;
}

.top-174px {
    top: 174px;
}

.top-175px {
    top: 175px;
}

.top-176px {
    top: 176px;
}

.top-177px {
    top: 177px;
}

.top-178px {
    top: 178px;
}

.top-179px {
    top: 179px;
}

.top-180px {
    top: 180px;
}

.top-181px {
    top: 181px;
}

.top-182px {
    top: 182px;
}

.top-183px {
    top: 183px;
}

.top-184px {
    top: 184px;
}

.top-185px {
    top: 185px;
}

.top-186px {
    top: 186px;
}

.top-187px {
    top: 187px;
}

.top-188px {
    top: 188px;
}

.top-189px {
    top: 189px;
}

.top-190px {
    top: 190px;
}

.top-191px {
    top: 191px;
}

.top-192px {
    top: 192px;
}

.top-193px {
    top: 193px;
}

.top-194px {
    top: 194px;
}

.top-195px {
    top: 195px;
}

.top-196px {
    top: 196px;
}

.top-197px {
    top: 197px;
}

.top-198px {
    top: 198px;
}

.top-199px {
    top: 199px;
}

.top-200px {
    top: 200px;
}


/*******************************/
/*BOTTOM*/
/*******************************/

.bot-0px {
    bottom: 0px;
}

.bot-1px {
    bottom: 1px;
}

.bot-2px {
    bottom: 2px;
}

.bot-3px {
    bottom: 3px;
}

.bot-4px {
    bottom: 4px;
}

.bot-5px {
    bottom: 5px;
}

.bot-6px {
    bottom: 6px;
}

.bot-7px {
    bottom: 7px;
}

.bot-8px {
    bottom: 8px;
}

.bot-9px {
    bottom: 9px;
}

.bot-10px {
    bottom: 10px;
}

.bot-11px {
    bottom: 11px;
}

.bot-12px {
    bottom: 12px;
}

.bot-13px {
    bottom: 13px;
}

.bot-14px {
    bottom: 14px;
}

.bot-15px {
    bottom: 15px;
}

.bot-16px {
    bottom: 16px;
}

.bot-17px {
    bottom: 17px;
}

.bot-18px {
    bottom: 18px;
}

.bot-19px {
    bottom: 19px;
}

.bot-20px {
    bottom: 20px;
}

.bot-21px {
    bottom: 21px;
}

.bot-22px {
    bottom: 22px;
}

.bot-23px {
    bottom: 23px;
}

.bot-24px {
    bottom: 24px;
}

.bot-25px {
    bottom: 25px;
}

.bot-26px {
    bottom: 26px;
}

.bot-27px {
    bottom: 27px;
}

.bot-28px {
    bottom: 28px;
}

.bot-29px {
    bottom: 29px;
}

.bot-30px {
    bottom: 30px;
}

.bot-31px {
    bottom: 31px;
}

.bot-32px {
    bottom: 32px;
}

.bot-33px {
    bottom: 33px;
}

.bot-34px {
    bottom: 34px;
}

.bot-35px {
    bottom: 35px;
}

.bot-36px {
    bottom: 36px;
}

.bot-37px {
    bottom: 37px;
}

.bot-38px {
    bottom: 38px;
}

.bot-39px {
    bottom: 39px;
}

.bot-40px {
    bottom: 40px;
}

.bot-41px {
    bottom: 41px;
}

.bot-42px {
    bottom: 42px;
}

.bot-43px {
    bottom: 43px;
}

.bot-44px {
    bottom: 44px;
}

.bot-45px {
    bottom: 45px;
}

.bot-46px {
    bottom: 46px;
}

.bot-47px {
    bottom: 47px;
}

.bot-48px {
    bottom: 48px;
}

.bot-49px {
    bottom: 49px;
}

.bot-50px {
    bottom: 50px;
}

.bot-51px {
    bottom: 51px;
}

.bot-52px {
    bottom: 52px;
}

.bot-53px {
    bottom: 53px;
}

.bot-54px {
    bottom: 54px;
}

.bot-55px {
    bottom: 55px;
}

.bot-56px {
    bottom: 56px;
}

.bot-57px {
    bottom: 57px;
}

.bot-58px {
    bottom: 58px;
}

.bot-59px {
    bottom: 59px;
}

.bot-60px {
    bottom: 60px;
}

.bot-61px {
    bottom: 61px;
}

.bot-62px {
    bottom: 62px;
}

.bot-63px {
    bottom: 63px;
}

.bot-64px {
    bottom: 64px;
}

.bot-65px {
    bottom: 65px;
}

.bot-66px {
    bottom: 66px;
}

.bot-67px {
    bottom: 67px;
}

.bot-68px {
    bottom: 68px;
}

.bot-69px {
    bottom: 69px;
}

.bot-70px {
    bottom: 70px;
}

.bot-71px {
    bottom: 71px;
}

.bot-72px {
    bottom: 72px;
}

.bot-73px {
    bottom: 73px;
}

.bot-74px {
    bottom: 74px;
}

.bot-75px {
    bottom: 75px;
}

.bot-76px {
    bottom: 76px;
}

.bot-77px {
    bottom: 77px;
}

.bot-78px {
    bottom: 78px;
}

.bot-79px {
    bottom: 79px;
}

.bot-80px {
    bottom: 80px;
}

.bot-81px {
    bottom: 81px;
}

.bot-82px {
    bottom: 82px;
}

.bot-83px {
    bottom: 83px;
}

.bot-84px {
    bottom: 84px;
}

.bot-85px {
    bottom: 85px;
}

.bot-86px {
    bottom: 86px;
}

.bot-87px {
    bottom: 87px;
}

.bot-88px {
    bottom: 88px;
}

.bot-89px {
    bottom: 89px;
}

.bot-90px {
    bottom: 90px;
}

.bot-91px {
    bottom: 91px;
}

.bot-92px {
    bottom: 92px;
}

.bot-93px {
    bottom: 93px;
}

.bot-94px {
    bottom: 94px;
}

.bot-95px {
    bottom: 95px;
}

.bot-96px {
    bottom: 96px;
}

.bot-97px {
    bottom: 97px;
}

.bot-98px {
    bottom: 98px;
}

.bot-99px {
    bottom: 99px;
}

.bot-100px {
    bottom: 100px;
}

.bot-101px {
    bottom: 101px;
}

.bot-102px {
    bottom: 102px;
}

.bot-103px {
    bottom: 103px;
}

.bot-104px {
    bottom: 104px;
}

.bot-105px {
    bottom: 105px;
}

.bot-106px {
    bottom: 106px;
}

.bot-107px {
    bottom: 107px;
}

.bot-108px {
    bottom: 108px;
}

.bot-109px {
    bottom: 109px;
}

.bot-110px {
    bottom: 110px;
}

.bot-111px {
    bottom: 111px;
}

.bot-112px {
    bottom: 112px;
}

.bot-113px {
    bottom: 113px;
}

.bot-114px {
    bottom: 114px;
}

.bot-115px {
    bottom: 115px;
}

.bot-116px {
    bottom: 116px;
}

.bot-117px {
    bottom: 117px;
}

.bot-118px {
    bottom: 118px;
}

.bot-119px {
    bottom: 119px;
}

.bot-120px {
    bottom: 120px;
}

.bot-121px {
    bottom: 121px;
}

.bot-122px {
    bottom: 122px;
}

.bot-123px {
    bottom: 123px;
}

.bot-124px {
    bottom: 124px;
}

.bot-125px {
    bottom: 125px;
}

.bot-126px {
    bottom: 126px;
}

.bot-127px {
    bottom: 127px;
}

.bot-128px {
    bottom: 128px;
}

.bot-129px {
    bottom: 129px;
}

.bot-130px {
    bottom: 130px;
}

.bot-131px {
    bottom: 131px;
}

.bot-132px {
    bottom: 132px;
}

.bot-133px {
    bottom: 133px;
}

.bot-134px {
    bottom: 134px;
}

.bot-135px {
    bottom: 135px;
}

.bot-136px {
    bottom: 136px;
}

.bot-137px {
    bottom: 137px;
}

.bot-138px {
    bottom: 138px;
}

.bot-139px {
    bottom: 139px;
}

.bot-140px {
    bottom: 140px;
}

.bot-141px {
    bottom: 141px;
}

.bot-142px {
    bottom: 142px;
}

.bot-143px {
    bottom: 143px;
}

.bot-144px {
    bottom: 144px;
}

.bot-145px {
    bottom: 145px;
}

.bot-146px {
    bottom: 146px;
}

.bot-147px {
    bottom: 147px;
}

.bot-148px {
    bottom: 148px;
}

.bot-149px {
    bottom: 149px;
}

.bot-150px {
    bottom: 150px;
}

.bot-151px {
    bottom: 151px;
}

.bot-152px {
    bottom: 152px;
}

.bot-153px {
    bottom: 153px;
}

.bot-154px {
    bottom: 154px;
}

.bot-155px {
    bottom: 155px;
}

.bot-156px {
    bottom: 156px;
}

.bot-157px {
    bottom: 157px;
}

.bot-158px {
    bottom: 158px;
}

.bot-159px {
    bottom: 159px;
}

.bot-160px {
    bottom: 160px;
}

.bot-161px {
    bottom: 161px;
}

.bot-162px {
    bottom: 162px;
}

.bot-163px {
    bottom: 163px;
}

.bot-164px {
    bottom: 164px;
}

.bot-165px {
    bottom: 165px;
}

.bot-166px {
    bottom: 166px;
}

.bot-167px {
    bottom: 167px;
}

.bot-168px {
    bottom: 168px;
}

.bot-169px {
    bottom: 169px;
}

.bot-170px {
    bottom: 170px;
}

.bot-171px {
    bottom: 171px;
}

.bot-172px {
    bottom: 172px;
}

.bot-173px {
    bottom: 173px;
}

.bot-174px {
    bottom: 174px;
}

.bot-175px {
    bottom: 175px;
}

.bot-176px {
    bottom: 176px;
}

.bot-177px {
    bottom: 177px;
}

.bot-178px {
    bottom: 178px;
}

.bot-179px {
    bottom: 179px;
}

.bot-180px {
    bottom: 180px;
}

.bot-181px {
    bottom: 181px;
}

.bot-182px {
    bottom: 182px;
}

.bot-183px {
    bottom: 183px;
}

.bot-184px {
    bottom: 184px;
}

.bot-185px {
    bottom: 185px;
}

.bot-186px {
    bottom: 186px;
}

.bot-187px {
    bottom: 187px;
}

.bot-188px {
    bottom: 188px;
}

.bot-189px {
    bottom: 189px;
}

.bot-190px {
    bottom: 190px;
}

.bot-191px {
    bottom: 191px;
}

.bot-192px {
    bottom: 192px;
}

.bot-193px {
    bottom: 193px;
}

.bot-194px {
    bottom: 194px;
}

.bot-195px {
    bottom: 195px;
}

.bot-196px {
    bottom: 196px;
}

.bot-197px {
    bottom: 197px;
}

.bot-198px {
    bottom: 198px;
}

.bot-199px {
    bottom: 199px;
}

.bot-200px {
    bottom: 200px;
}



/*******************************/
/*Left*/
/*******************************/

.left-0px {
    left: 0px;
}

.left-1px {
    left: 1px;
}

.left-2px {
    left: 2px;
}

.left-3px {
    left: 3px;
}

.left-4px {
    left: 4px;
}

.left-5px {
    left: 5px;
}

.left-6px {
    left: 6px;
}

.left-7px {
    left: 7px;
}

.left-8px {
    left: 8px;
}

.left-9px {
    left: 9px;
}

.left-10px {
    left: 10px;
}

.left-11px {
    left: 11px;
}

.left-12px {
    left: 12px;
}

.left-13px {
    left: 13px;
}

.left-14px {
    left: 14px;
}

.left-15px {
    left: 15px;
}

.left-16px {
    left: 16px;
}

.left-17px {
    left: 17px;
}

.left-18px {
    left: 18px;
}

.left-19px {
    left: 19px;
}

.left-20px {
    left: 20px;
}

.left-21px {
    left: 21px;
}

.left-22px {
    left: 22px;
}

.left-23px {
    left: 23px;
}

.left-24px {
    left: 24px;
}

.left-25px {
    left: 25px;
}

.left-26px {
    left: 26px;
}

.left-27px {
    left: 27px;
}

.left-28px {
    left: 28px;
}

.left-29px {
    left: 29px;
}

.left-30px {
    left: 30px;
}

.left-31px {
    left: 31px;
}

.left-32px {
    left: 32px;
}

.left-33px {
    left: 33px;
}

.left-34px {
    left: 34px;
}

.left-35px {
    left: 35px;
}

.left-36px {
    left: 36px;
}

.left-37px {
    left: 37px;
}

.left-38px {
    left: 38px;
}

.left-39px {
    left: 39px;
}

.left-40px {
    left: 40px;
}

.left-41px {
    left: 41px;
}

.left-42px {
    left: 42px;
}

.left-43px {
    left: 43px;
}

.left-44px {
    left: 44px;
}

.left-45px {
    left: 45px;
}

.left-46px {
    left: 46px;
}

.left-47px {
    left: 47px;
}

.left-48px {
    left: 48px;
}

.left-49px {
    left: 49px;
}

.left-50px {
    left: 50px;
}

.left-51px {
    left: 51px;
}

.left-52px {
    left: 52px;
}

.left-53px {
    left: 53px;
}

.left-54px {
    left: 54px;
}

.left-55px {
    left: 55px;
}

.left-56px {
    left: 56px;
}

.left-57px {
    left: 57px;
}

.left-58px {
    left: 58px;
}

.left-59px {
    left: 59px;
}

.left-60px {
    left: 60px;
}

.left-61px {
    left: 61px;
}

.left-62px {
    left: 62px;
}

.left-63px {
    left: 63px;
}

.left-64px {
    left: 64px;
}

.left-65px {
    left: 65px;
}

.left-66px {
    left: 66px;
}

.left-67px {
    left: 67px;
}

.left-68px {
    left: 68px;
}

.left-69px {
    left: 69px;
}

.left-70px {
    left: 70px;
}

.left-71px {
    left: 71px;
}

.left-72px {
    left: 72px;
}

.left-73px {
    left: 73px;
}

.left-74px {
    left: 74px;
}

.left-75px {
    left: 75px;
}

.left-76px {
    left: 76px;
}

.left-77px {
    left: 77px;
}

.left-78px {
    left: 78px;
}

.left-79px {
    left: 79px;
}

.left-80px {
    left: 80px;
}

.left-81px {
    left: 81px;
}

.left-82px {
    left: 82px;
}

.left-83px {
    left: 83px;
}

.left-84px {
    left: 84px;
}

.left-85px {
    left: 85px;
}

.left-86px {
    left: 86px;
}

.left-87px {
    left: 87px;
}

.left-88px {
    left: 88px;
}

.left-89px {
    left: 89px;
}

.left-90px {
    left: 90px;
}

.left-91px {
    left: 91px;
}

.left-92px {
    left: 92px;
}

.left-93px {
    left: 93px;
}

.left-94px {
    left: 94px;
}

.left-95px {
    left: 95px;
}

.left-96px {
    left: 96px;
}

.left-97px {
    left: 97px;
}

.left-98px {
    left: 98px;
}

.left-99px {
    left: 99px;
}

.left-100px {
    left: 100px;
}

.left-101px {
    left: 101px;
}

.left-102px {
    left: 102px;
}

.left-103px {
    left: 103px;
}

.left-104px {
    left: 104px;
}

.left-105px {
    left: 105px;
}

.left-106px {
    left: 106px;
}

.left-107px {
    left: 107px;
}

.left-108px {
    left: 108px;
}

.left-109px {
    left: 109px;
}

.left-110px {
    left: 110px;
}

.left-111px {
    left: 111px;
}

.left-112px {
    left: 112px;
}

.left-113px {
    left: 113px;
}

.left-114px {
    left: 114px;
}

.left-115px {
    left: 115px;
}

.left-116px {
    left: 116px;
}

.left-117px {
    left: 117px;
}

.left-118px {
    left: 118px;
}

.left-119px {
    left: 119px;
}

.left-120px {
    left: 120px;
}

.left-121px {
    left: 121px;
}

.left-122px {
    left: 122px;
}

.left-123px {
    left: 123px;
}

.left-124px {
    left: 124px;
}

.left-125px {
    left: 125px;
}

.left-126px {
    left: 126px;
}

.left-127px {
    left: 127px;
}

.left-128px {
    left: 128px;
}

.left-129px {
    left: 129px;
}

.left-130px {
    left: 130px;
}

.left-131px {
    left: 131px;
}

.left-132px {
    left: 132px;
}

.left-133px {
    left: 133px;
}

.left-134px {
    left: 134px;
}

.left-135px {
    left: 135px;
}

.left-136px {
    left: 136px;
}

.left-137px {
    left: 137px;
}

.left-138px {
    left: 138px;
}

.left-139px {
    left: 139px;
}

.left-140px {
    left: 140px;
}

.left-141px {
    left: 141px;
}

.left-142px {
    left: 142px;
}

.left-143px {
    left: 143px;
}

.left-144px {
    left: 144px;
}

.left-145px {
    left: 145px;
}

.left-146px {
    left: 146px;
}

.left-147px {
    left: 147px;
}

.left-148px {
    left: 148px;
}

.left-149px {
    left: 149px;
}

.left-150px {
    left: 150px;
}

.left-151px {
    left: 151px;
}

.left-152px {
    left: 152px;
}

.left-153px {
    left: 153px;
}

.left-154px {
    left: 154px;
}

.left-155px {
    left: 155px;
}

.left-156px {
    left: 156px;
}

.left-157px {
    left: 157px;
}

.left-158px {
    left: 158px;
}

.left-159px {
    left: 159px;
}

.left-160px {
    left: 160px;
}

.left-161px {
    left: 161px;
}

.left-162px {
    left: 162px;
}

.left-163px {
    left: 163px;
}

.left-164px {
    left: 164px;
}

.left-165px {
    left: 165px;
}

.left-166px {
    left: 166px;
}

.left-167px {
    left: 167px;
}

.left-168px {
    left: 168px;
}

.left-169px {
    left: 169px;
}

.left-170px {
    left: 170px;
}

.left-171px {
    left: 171px;
}

.left-172px {
    left: 172px;
}

.left-173px {
    left: 173px;
}

.left-174px {
    left: 174px;
}

.left-175px {
    left: 175px;
}

.left-176px {
    left: 176px;
}

.left-177px {
    left: 177px;
}

.left-178px {
    left: 178px;
}

.left-179px {
    left: 179px;
}

.left-180px {
    left: 180px;
}

.left-181px {
    left: 181px;
}

.left-182px {
    left: 182px;
}

.left-183px {
    left: 183px;
}

.left-184px {
    left: 184px;
}

.left-185px {
    left: 185px;
}

.left-186px {
    left: 186px;
}

.left-187px {
    left: 187px;
}

.left-188px {
    left: 188px;
}

.left-189px {
    left: 189px;
}

.left-190px {
    left: 190px;
}

.left-191px {
    left: 191px;
}

.left-192px {
    left: 192px;
}

.left-193px {
    left: 193px;
}

.left-194px {
    left: 194px;
}

.left-195px {
    left: 195px;
}

.left-196px {
    left: 196px;
}

.left-197px {
    left: 197px;
}

.left-198px {
    left: 198px;
}

.left-199px {
    left: 199px;
}

.left-200px {
    left: 200px;
}




/*******************************/
/*right*/
/*******************************/

.right-0px {
    right: 0px;
}

.right-1px {
    right: 1px;
}

.right-2px {
    right: 2px;
}

.right-3px {
    right: 3px;
}

.right-4px {
    right: 4px;
}

.right-5px {
    right: 5px;
}

.right-6px {
    right: 6px;
}

.right-7px {
    right: 7px;
}

.right-8px {
    right: 8px;
}

.right-9px {
    right: 9px;
}

.right-10px {
    right: 10px;
}

.right-11px {
    right: 11px;
}

.right-12px {
    right: 12px;
}

.right-13px {
    right: 13px;
}

.right-14px {
    right: 14px;
}

.right-15px {
    right: 15px;
}

.right-16px {
    right: 16px;
}

.right-17px {
    right: 17px;
}

.right-18px {
    right: 18px;
}

.right-19px {
    right: 19px;
}

.right-20px {
    right: 20px;
}

.right-21px {
    right: 21px;
}

.right-22px {
    right: 22px;
}

.right-23px {
    right: 23px;
}

.right-24px {
    right: 24px;
}

.right-25px {
    right: 25px;
}

.right-26px {
    right: 26px;
}

.right-27px {
    right: 27px;
}

.right-28px {
    right: 28px;
}

.right-29px {
    right: 29px;
}

.right-30px {
    right: 30px;
}

.right-31px {
    right: 31px;
}

.right-32px {
    right: 32px;
}

.right-33px {
    right: 33px;
}

.right-34px {
    right: 34px;
}

.right-35px {
    right: 35px;
}

.right-36px {
    right: 36px;
}

.right-37px {
    right: 37px;
}

.right-38px {
    right: 38px;
}

.right-39px {
    right: 39px;
}

.right-40px {
    right: 40px;
}

.right-41px {
    right: 41px;
}

.right-42px {
    right: 42px;
}

.right-43px {
    right: 43px;
}

.right-44px {
    right: 44px;
}

.right-45px {
    right: 45px;
}

.right-46px {
    right: 46px;
}

.right-47px {
    right: 47px;
}

.right-48px {
    right: 48px;
}

.right-49px {
    right: 49px;
}

.right-50px {
    right: 50px;
}

.right-51px {
    right: 51px;
}

.right-52px {
    right: 52px;
}

.right-53px {
    right: 53px;
}

.right-54px {
    right: 54px;
}

.right-55px {
    right: 55px;
}

.right-56px {
    right: 56px;
}

.right-57px {
    right: 57px;
}

.right-58px {
    right: 58px;
}

.right-59px {
    right: 59px;
}

.right-60px {
    right: 60px;
}

.right-61px {
    right: 61px;
}

.right-62px {
    right: 62px;
}

.right-63px {
    right: 63px;
}

.right-64px {
    right: 64px;
}

.right-65px {
    right: 65px;
}

.right-66px {
    right: 66px;
}

.right-67px {
    right: 67px;
}

.right-68px {
    right: 68px;
}

.right-69px {
    right: 69px;
}

.right-70px {
    right: 70px;
}

.right-71px {
    right: 71px;
}

.right-72px {
    right: 72px;
}

.right-73px {
    right: 73px;
}

.right-74px {
    right: 74px;
}

.right-75px {
    right: 75px;
}

.right-76px {
    right: 76px;
}

.right-77px {
    right: 77px;
}

.right-78px {
    right: 78px;
}

.right-79px {
    right: 79px;
}

.right-80px {
    right: 80px;
}

.right-81px {
    right: 81px;
}

.right-82px {
    right: 82px;
}

.right-83px {
    right: 83px;
}

.right-84px {
    right: 84px;
}

.right-85px {
    right: 85px;
}

.right-86px {
    right: 86px;
}

.right-87px {
    right: 87px;
}

.right-88px {
    right: 88px;
}

.right-89px {
    right: 89px;
}

.right-90px {
    right: 90px;
}

.right-91px {
    right: 91px;
}

.right-92px {
    right: 92px;
}

.right-93px {
    right: 93px;
}

.right-94px {
    right: 94px;
}

.right-95px {
    right: 95px;
}

.right-96px {
    right: 96px;
}

.right-97px {
    right: 97px;
}

.right-98px {
    right: 98px;
}

.right-99px {
    right: 99px;
}

.right-100px {
    right: 100px;
}

.right-101px {
    right: 101px;
}

.right-102px {
    right: 102px;
}

.right-103px {
    right: 103px;
}

.right-104px {
    right: 104px;
}

.right-105px {
    right: 105px;
}

.right-106px {
    right: 106px;
}

.right-107px {
    right: 107px;
}

.right-108px {
    right: 108px;
}

.right-109px {
    right: 109px;
}

.right-110px {
    right: 110px;
}

.right-111px {
    right: 111px;
}

.right-112px {
    right: 112px;
}

.right-113px {
    right: 113px;
}

.right-114px {
    right: 114px;
}

.right-115px {
    right: 115px;
}

.right-116px {
    right: 116px;
}

.right-117px {
    right: 117px;
}

.right-118px {
    right: 118px;
}

.right-119px {
    right: 119px;
}

.right-120px {
    right: 120px;
}

.right-121px {
    right: 121px;
}

.right-122px {
    right: 122px;
}

.right-123px {
    right: 123px;
}

.right-124px {
    right: 124px;
}

.right-125px {
    right: 125px;
}

.right-126px {
    right: 126px;
}

.right-127px {
    right: 127px;
}

.right-128px {
    right: 128px;
}

.right-129px {
    right: 129px;
}

.right-130px {
    right: 130px;
}

.right-131px {
    right: 131px;
}

.right-132px {
    right: 132px;
}

.right-133px {
    right: 133px;
}

.right-134px {
    right: 134px;
}

.right-135px {
    right: 135px;
}

.right-136px {
    right: 136px;
}

.right-137px {
    right: 137px;
}

.right-138px {
    right: 138px;
}

.right-139px {
    right: 139px;
}

.right-140px {
    right: 140px;
}

.right-141px {
    right: 141px;
}

.right-142px {
    right: 142px;
}

.right-143px {
    right: 143px;
}

.right-144px {
    right: 144px;
}

.right-145px {
    right: 145px;
}

.right-146px {
    right: 146px;
}

.right-147px {
    right: 147px;
}

.right-148px {
    right: 148px;
}

.right-149px {
    right: 149px;
}

.right-150px {
    right: 150px;
}

.right-151px {
    right: 151px;
}

.right-152px {
    right: 152px;
}

.right-153px {
    right: 153px;
}

.right-154px {
    right: 154px;
}

.right-155px {
    right: 155px;
}

.right-156px {
    right: 156px;
}

.right-157px {
    right: 157px;
}

.right-158px {
    right: 158px;
}

.right-159px {
    right: 159px;
}

.right-160px {
    right: 160px;
}

.right-161px {
    right: 161px;
}

.right-162px {
    right: 162px;
}

.right-163px {
    right: 163px;
}

.right-164px {
    right: 164px;
}

.right-165px {
    right: 165px;
}

.right-166px {
    right: 166px;
}

.right-167px {
    right: 167px;
}

.right-168px {
    right: 168px;
}

.right-169px {
    right: 169px;
}

.right-170px {
    right: 170px;
}

.right-171px {
    right: 171px;
}

.right-172px {
    right: 172px;
}

.right-173px {
    right: 173px;
}

.right-174px {
    right: 174px;
}

.right-175px {
    right: 175px;
}

.right-176px {
    right: 176px;
}

.right-177px {
    right: 177px;
}

.right-178px {
    right: 178px;
}

.right-179px {
    right: 179px;
}

.right-180px {
    right: 180px;
}

.right-181px {
    right: 181px;
}

.right-182px {
    right: 182px;
}

.right-183px {
    right: 183px;
}

.right-184px {
    right: 184px;
}

.right-185px {
    right: 185px;
}

.right-186px {
    right: 186px;
}

.right-187px {
    right: 187px;
}

.right-188px {
    right: 188px;
}

.right-189px {
    right: 189px;
}

.right-190px {
    right: 190px;
}

.right-191px {
    right: 191px;
}

.right-192px {
    right: 192px;
}

.right-193px {
    right: 193px;
}

.right-194px {
    right: 194px;
}

.right-195px {
    right: 195px;
}

.right-196px {
    right: 196px;
}

.right-197px {
    right: 197px;
}

.right-198px {
    right: 198px;
}

.right-199px {
    right: 199px;
}

.right-200px {
    right: 200px;
}


/*PERCENTAGE*/
/*******************************/
/*top*/
/*******************************/
.top-0pc {
    top: 0%;
}

.top-1pc {
    top: 1%;
}

.top-2pc {
    top: 2%;
}

.top-3pc {
    top: 3%;
}

.top-4pc {
    top: 4%;
}

.top-5pc {
    top: 5%;
}

.top-6pc {
    top: 6%;
}

.top-7pc {
    top: 7%;
}

.top-8pc {
    top: 8%;
}

.top-9pc {
    top: 9%;
}

.top-10pc {
    top: 10%;
}

.top-11pc {
    top: 11%;
}

.top-12pc {
    top: 12%;
}

.top-13pc {
    top: 13%;
}

.top-14pc {
    top: 14%;
}

.top-15pc {
    top: 15%;
}

.top-16pc {
    top: 16%;
}

.top-17pc {
    top: 17%;
}

.top-18pc {
    top: 18%;
}

.top-19pc {
    top: 19%;
}

.top-20pc {
    top: 20%;
}

.top-21pc {
    top: 21%;
}

.top-22pc {
    top: 22%;
}

.top-23pc {
    top: 23%;
}

.top-24pc {
    top: 24%;
}

.top-25pc {
    top: 25%;
}

.top-26pc {
    top: 26%;
}

.top-27pc {
    top: 27%;
}

.top-28pc {
    top: 28%;
}

.top-29pc {
    top: 29%;
}

.top-30pc {
    top: 30%;
}

.top-31pc {
    top: 31%;
}

.top-32pc {
    top: 32%;
}

.top-33pc {
    top: 33%;
}

.top-34pc {
    top: 34%;
}

.top-35pc {
    top: 35%;
}

.top-36pc {
    top: 36%;
}

.top-37pc {
    top: 37%;
}

.top-38pc {
    top: 38%;
}

.top-39pc {
    top: 39%;
}

.top-40pc {
    top: 40%;
}

.top-41pc {
    top: 41%;
}

.top-42pc {
    top: 42%;
}

.top-43pc {
    top: 43%;
}

.top-44pc {
    top: 44%;
}

.top-45pc {
    top: 45%;
}

.top-46pc {
    top: 46%;
}

.top-47pc {
    top: 47%;
}

.top-48pc {
    top: 48%;
}

.top-49pc {
    top: 49%;
}

.top-50pc {
    top: 50%;
}

.top-51pc {
    top: 51%;
}

.top-52pc {
    top: 52%;
}

.top-53pc {
    top: 53%;
}

.top-54pc {
    top: 54%;
}

.top-55pc {
    top: 55%;
}

.top-56pc {
    top: 56%;
}

.top-57pc {
    top: 57%;
}

.top-58pc {
    top: 58%;
}

.top-59pc {
    top: 59%;
}

.top-60pc {
    top: 60%;
}

.top-61pc {
    top: 61%;
}

.top-62pc {
    top: 62%;
}

.top-63pc {
    top: 63%;
}

.top-64pc {
    top: 64%;
}

.top-65pc {
    top: 65%;
}

.top-66pc {
    top: 66%;
}

.top-67pc {
    top: 67%;
}

.top-68pc {
    top: 68%;
}

.top-69pc {
    top: 69%;
}

.top-70pc {
    top: 70%;
}

.top-71pc {
    top: 71%;
}

.top-72pc {
    top: 72%;
}

.top-73pc {
    top: 73%;
}

.top-74pc {
    top: 74%;
}

.top-75pc {
    top: 75%;
}

.top-76pc {
    top: 76%;
}

.top-77pc {
    top: 77%;
}

.top-78pc {
    top: 78%;
}

.top-79pc {
    top: 79%;
}

.top-80pc {
    top: 80%;
}

.top-81pc {
    top: 81%;
}

.top-82pc {
    top: 82%;
}

.top-83pc {
    top: 83%;
}

.top-84pc {
    top: 84%;
}

.top-85pc {
    top: 85%;
}

.top-86pc {
    top: 86%;
}

.top-87pc {
    top: 87%;
}

.top-88pc {
    top: 88%;
}

.top-89pc {
    top: 89%;
}

.top-90pc {
    top: 90%;
}

.top-91pc {
    top: 91%;
}

.top-92pc {
    top: 92%;
}

.top-93pc {
    top: 93%;
}

.top-94pc {
    top: 94%;
}

.top-95pc {
    top: 95%;
}

.top-96pc {
    top: 96%;
}

.top-97pc {
    top: 97%;
}

.top-98pc {
    top: 98%;
}

.top-99pc {
    top: 99%;
}

.top-100pc {
    top: 100%;
}


/*******************************/
/*bottom*/
/*******************************/

.bot-0pc {
    bottom: 0%;
}

.bot-1pc {
    bottom: 1%;
}

.bot-2pc {
    bottom: 2%;
}

.bot-3pc {
    bottom: 3%;
}

.bot-4pc {
    bottom: 4%;
}

.bot-5pc {
    bottom: 5%;
}

.bot-6pc {
    bottom: 6%;
}

.bot-7pc {
    bottom: 7%;
}

.bot-8pc {
    bottom: 8%;
}

.bot-9pc {
    bottom: 9%;
}

.bot-10pc {
    bottom: 10%;
}

.bot-11pc {
    bottom: 11%;
}

.bot-12pc {
    bottom: 12%;
}

.bot-13pc {
    bottom: 13%;
}

.bot-14pc {
    bottom: 14%;
}

.bot-15pc {
    bottom: 15%;
}

.bot-16pc {
    bottom: 16%;
}

.bot-17pc {
    bottom: 17%;
}

.bot-18pc {
    bottom: 18%;
}

.bot-19pc {
    bottom: 19%;
}

.bot-20pc {
    bottom: 20%;
}

.bot-21pc {
    bottom: 21%;
}

.bot-22pc {
    bottom: 22%;
}

.bot-23pc {
    bottom: 23%;
}

.bot-24pc {
    bottom: 24%;
}

.bot-25pc {
    bottom: 25%;
}

.bot-26pc {
    bottom: 26%;
}

.bot-27pc {
    bottom: 27%;
}

.bot-28pc {
    bottom: 28%;
}

.bot-29pc {
    bottom: 29%;
}

.bot-30pc {
    bottom: 30%;
}

.bot-31pc {
    bottom: 31%;
}

.bot-32pc {
    bottom: 32%;
}

.bot-33pc {
    bottom: 33%;
}

.bot-34pc {
    bottom: 34%;
}

.bot-35pc {
    bottom: 35%;
}

.bot-36pc {
    bottom: 36%;
}

.bot-37pc {
    bottom: 37%;
}

.bot-38pc {
    bottom: 38%;
}

.bot-39pc {
    bottom: 39%;
}

.bot-40pc {
    bottom: 40%;
}

.bot-41pc {
    bottom: 41%;
}

.bot-42pc {
    bottom: 42%;
}

.bot-43pc {
    bottom: 43%;
}

.bot-44pc {
    bottom: 44%;
}

.bot-45pc {
    bottom: 45%;
}

.bot-46pc {
    bottom: 46%;
}

.bot-47pc {
    bottom: 47%;
}

.bot-48pc {
    bottom: 48%;
}

.bot-49pc {
    bottom: 49%;
}

.bot-50pc {
    bottom: 50%;
}

.bot-51pc {
    bottom: 51%;
}

.bot-52pc {
    bottom: 52%;
}

.bot-53pc {
    bottom: 53%;
}

.bot-54pc {
    bottom: 54%;
}

.bot-55pc {
    bottom: 55%;
}

.bot-56pc {
    bottom: 56%;
}

.bot-57pc {
    bottom: 57%;
}

.bot-58pc {
    bottom: 58%;
}

.bot-59pc {
    bottom: 59%;
}

.bot-60pc {
    bottom: 60%;
}

.bot-61pc {
    bottom: 61%;
}

.bot-62pc {
    bottom: 62%;
}

.bot-63pc {
    bottom: 63%;
}

.bot-64pc {
    bottom: 64%;
}

.bot-65pc {
    bottom: 65%;
}

.bot-66pc {
    bottom: 66%;
}

.bot-67pc {
    bottom: 67%;
}

.bot-68pc {
    bottom: 68%;
}

.bot-69pc {
    bottom: 69%;
}

.bot-70pc {
    bottom: 70%;
}

.bot-71pc {
    bottom: 71%;
}

.bot-72pc {
    bottom: 72%;
}

.bot-73pc {
    bottom: 73%;
}

.bot-74pc {
    bottom: 74%;
}

.bot-75pc {
    bottom: 75%;
}

.bot-76pc {
    bottom: 76%;
}

.bot-77pc {
    bottom: 77%;
}

.bot-78pc {
    bottom: 78%;
}

.bot-79pc {
    bottom: 79%;
}

.bot-80pc {
    bottom: 80%;
}

.bot-81pc {
    bottom: 81%;
}

.bot-82pc {
    bottom: 82%;
}

.bot-83pc {
    bottom: 83%;
}

.bot-84pc {
    bottom: 84%;
}

.bot-85pc {
    bottom: 85%;
}

.bot-86pc {
    bottom: 86%;
}

.bot-87pc {
    bottom: 87%;
}

.bot-88pc {
    bottom: 88%;
}

.bot-89pc {
    bottom: 89%;
}

.bot-90pc {
    bottom: 90%;
}

.bot-91pc {
    bottom: 91%;
}

.bot-92pc {
    bottom: 92%;
}

.bot-93pc {
    bottom: 93%;
}

.bot-94pc {
    bottom: 94%;
}

.bot-95pc {
    bottom: 95%;
}

.bot-96pc {
    bottom: 96%;
}

.bot-97pc {
    bottom: 97%;
}

.bot-98pc {
    bottom: 98%;
}

.bot-99pc {
    bottom: 99%;
}

.bot-100pc {
    bottom: 100%;
}



/*******************************/
/*left*/
/*******************************/

.left-0pc {
    left: 0%;
}

.left-1pc {
    left: 1%;
}

.left-2pc {
    left: 2%;
}

.left-3pc {
    left: 3%;
}

.left-4pc {
    left: 4%;
}

.left-5pc {
    left: 5%;
}

.left-6pc {
    left: 6%;
}

.left-7pc {
    left: 7%;
}

.left-8pc {
    left: 8%;
}

.left-9pc {
    left: 9%;
}

.left-10pc {
    left: 10%;
}

.left-11pc {
    left: 11%;
}

.left-12pc {
    left: 12%;
}

.left-13pc {
    left: 13%;
}

.left-14pc {
    left: 14%;
}

.left-15pc {
    left: 15%;
}

.left-16pc {
    left: 16%;
}

.left-17pc {
    left: 17%;
}

.left-18pc {
    left: 18%;
}

.left-19pc {
    left: 19%;
}

.left-20pc {
    left: 20%;
}

.left-21pc {
    left: 21%;
}

.left-22pc {
    left: 22%;
}

.left-23pc {
    left: 23%;
}

.left-24pc {
    left: 24%;
}

.left-25pc {
    left: 25%;
}

.left-26pc {
    left: 26%;
}

.left-27pc {
    left: 27%;
}

.left-28pc {
    left: 28%;
}

.left-29pc {
    left: 29%;
}

.left-30pc {
    left: 30%;
}

.left-31pc {
    left: 31%;
}

.left-32pc {
    left: 32%;
}

.left-33pc {
    left: 33%;
}

.left-34pc {
    left: 34%;
}

.left-35pc {
    left: 35%;
}

.left-36pc {
    left: 36%;
}

.left-37pc {
    left: 37%;
}

.left-38pc {
    left: 38%;
}

.left-39pc {
    left: 39%;
}

.left-40pc {
    left: 40%;
}

.left-41pc {
    left: 41%;
}

.left-42pc {
    left: 42%;
}

.left-43pc {
    left: 43%;
}

.left-44pc {
    left: 44%;
}

.left-45pc {
    left: 45%;
}

.left-46pc {
    left: 46%;
}

.left-47pc {
    left: 47%;
}

.left-48pc {
    left: 48%;
}

.left-49pc {
    left: 49%;
}

.left-50pc {
    left: 50%;
}

.left-51pc {
    left: 51%;
}

.left-52pc {
    left: 52%;
}

.left-53pc {
    left: 53%;
}

.left-54pc {
    left: 54%;
}

.left-55pc {
    left: 55%;
}

.left-56pc {
    left: 56%;
}

.left-57pc {
    left: 57%;
}

.left-58pc {
    left: 58%;
}

.left-59pc {
    left: 59%;
}

.left-60pc {
    left: 60%;
}

.left-61pc {
    left: 61%;
}

.left-62pc {
    left: 62%;
}

.left-63pc {
    left: 63%;
}

.left-64pc {
    left: 64%;
}

.left-65pc {
    left: 65%;
}

.left-66pc {
    left: 66%;
}

.left-67pc {
    left: 67%;
}

.left-68pc {
    left: 68%;
}

.left-69pc {
    left: 69%;
}

.left-70pc {
    left: 70%;
}

.left-71pc {
    left: 71%;
}

.left-72pc {
    left: 72%;
}

.left-73pc {
    left: 73%;
}

.left-74pc {
    left: 74%;
}

.left-75pc {
    left: 75%;
}

.left-76pc {
    left: 76%;
}

.left-77pc {
    left: 77%;
}

.left-78pc {
    left: 78%;
}

.left-79pc {
    left: 79%;
}

.left-80pc {
    left: 80%;
}

.left-81pc {
    left: 81%;
}

.left-82pc {
    left: 82%;
}

.left-83pc {
    left: 83%;
}

.left-84pc {
    left: 84%;
}

.left-85pc {
    left: 85%;
}

.left-86pc {
    left: 86%;
}

.left-87pc {
    left: 87%;
}

.left-88pc {
    left: 88%;
}

.left-89pc {
    left: 89%;
}

.left-90pc {
    left: 90%;
}

.left-91pc {
    left: 91%;
}

.left-92pc {
    left: 92%;
}

.left-93pc {
    left: 93%;
}

.left-94pc {
    left: 94%;
}

.left-95pc {
    left: 95%;
}

.left-96pc {
    left: 96%;
}

.left-97pc {
    left: 97%;
}

.left-98pc {
    left: 98%;
}

.left-99pc {
    left: 99%;
}

.left-100pc {
    left: 100%;
}




/*******************************/
/*right*/
/*******************************/
.right-0pc {
    right: 0%;
}

.right-1pc {
    right: 1%;
}

.right-2pc {
    right: 2%;
}

.right-3pc {
    right: 3%;
}

.right-4pc {
    right: 4%;
}

.right-5pc {
    right: 5%;
}

.right-6pc {
    right: 6%;
}

.right-7pc {
    right: 7%;
}

.right-8pc {
    right: 8%;
}

.right-9pc {
    right: 9%;
}

.right-10pc {
    right: 10%;
}

.right-11pc {
    right: 11%;
}

.right-12pc {
    right: 12%;
}

.right-13pc {
    right: 13%;
}

.right-14pc {
    right: 14%;
}

.right-15pc {
    right: 15%;
}

.right-16pc {
    right: 16%;
}

.right-17pc {
    right: 17%;
}

.right-18pc {
    right: 18%;
}

.right-19pc {
    right: 19%;
}

.right-20pc {
    right: 20%;
}

.right-21pc {
    right: 21%;
}

.right-22pc {
    right: 22%;
}

.right-23pc {
    right: 23%;
}

.right-24pc {
    right: 24%;
}

.right-25pc {
    right: 25%;
}

.right-26pc {
    right: 26%;
}

.right-27pc {
    right: 27%;
}

.right-28pc {
    right: 28%;
}

.right-29pc {
    right: 29%;
}

.right-30pc {
    right: 30%;
}

.right-31pc {
    right: 31%;
}

.right-32pc {
    right: 32%;
}

.right-33pc {
    right: 33%;
}

.right-34pc {
    right: 34%;
}

.right-35pc {
    right: 35%;
}

.right-36pc {
    right: 36%;
}

.right-37pc {
    right: 37%;
}

.right-38pc {
    right: 38%;
}

.right-39pc {
    right: 39%;
}

.right-40pc {
    right: 40%;
}

.right-41pc {
    right: 41%;
}

.right-42pc {
    right: 42%;
}

.right-43pc {
    right: 43%;
}

.right-44pc {
    right: 44%;
}

.right-45pc {
    right: 45%;
}

.right-46pc {
    right: 46%;
}

.right-47pc {
    right: 47%;
}

.right-48pc {
    right: 48%;
}

.right-49pc {
    right: 49%;
}

.right-50pc {
    right: 50%;
}

.right-51pc {
    right: 51%;
}

.right-52pc {
    right: 52%;
}

.right-53pc {
    right: 53%;
}

.right-54pc {
    right: 54%;
}

.right-55pc {
    right: 55%;
}

.right-56pc {
    right: 56%;
}

.right-57pc {
    right: 57%;
}

.right-58pc {
    right: 58%;
}

.right-59pc {
    right: 59%;
}

.right-60pc {
    right: 60%;
}

.right-61pc {
    right: 61%;
}

.right-62pc {
    right: 62%;
}

.right-63pc {
    right: 63%;
}

.right-64pc {
    right: 64%;
}

.right-65pc {
    right: 65%;
}

.right-66pc {
    right: 66%;
}

.right-67pc {
    right: 67%;
}

.right-68pc {
    right: 68%;
}

.right-69pc {
    right: 69%;
}

.right-70pc {
    right: 70%;
}

.right-71pc {
    right: 71%;
}

.right-72pc {
    right: 72%;
}

.right-73pc {
    right: 73%;
}

.right-74pc {
    right: 74%;
}

.right-75pc {
    right: 75%;
}

.right-76pc {
    right: 76%;
}

.right-77pc {
    right: 77%;
}

.right-78pc {
    right: 78%;
}

.right-79pc {
    right: 79%;
}

.right-80pc {
    right: 80%;
}

.right-81pc {
    right: 81%;
}

.right-82pc {
    right: 82%;
}

.right-83pc {
    right: 83%;
}

.right-84pc {
    right: 84%;
}

.right-85pc {
    right: 85%;
}

.right-86pc {
    right: 86%;
}

.right-87pc {
    right: 87%;
}

.right-88pc {
    right: 88%;
}

.right-89pc {
    right: 89%;
}

.right-90pc {
    right: 90%;
}

.right-91pc {
    right: 91%;
}

.right-92pc {
    right: 92%;
}

.right-93pc {
    right: 93%;
}

.right-94pc {
    right: 94%;
}

.right-95pc {
    right: 95%;
}

.right-96pc {
    right: 96%;
}

.right-97pc {
    right: 97%;
}

.right-98pc {
    right: 98%;
}

.right-99pc {
    right: 99%;
}

.right-100pc {
    right: 100%;
}


/*Position*/

.p-static {
    position: static;
}

.p-relative {
    position: relative;
}

.p-fixed {
    position: fixed;
}

.p-absolute {
    position: absolute;
}

.p-center {
    position: center;
}

.p-page {
    position: page;
}

.p-sticky {
    position: sticky;
}


/*Curson Styles*/
.c-auto {
    cursor: auto;
}

.c-crosshair {
    cursor: crosshair;
}

.c-default {
    cursor: default;
}

.c-e-resize {
    cursor: e-resize;
}

.c-grab {
    cursor: grab;
}

.c-help {
    cursor: help;
}

.c-move {
    cursor: move;
}

.c-n-resize {
    cursor: n-resize;
}

.c-ne-resize {
    cursor: ne-resize;
}

.c-nw-resize {
    cursor: nw-resize;
}

.c-pointer {
    cursor: pointer;
}

.c-progress {
    cursor: progress;
}

.c-s-resize {
    cursor: s-resize;
}

.c-se-resize {
    cursor: se-resize;
}

.c-sw-resize {
    cursor: sw-resize;
}

.c-text {
    cursor: text;
}

.c-w-resize {
    cursor: w-resize;
}

.c-wait {
    cursor: wait;
}

.c-not-allowed {
    cursor: not-allowed;
}

.c-no-drop {
    cursor: no-drop;
}


/*z-index*/
.z-index-5 {
    z-index: -5;
}

.z-index-4 {
    z-index: -4;
}

.z-index-3 {
    z-index: -3;
}

.z-index-2 {
    z-index: -2;
}

.z-index-1 {
    z-index: -1;
}

.z-index0 {
    z-index: 0;
}

.z-index1 {
    z-index: 1;
}

.z-index2 {
    z-index: 2;
}

.z-index3 {
    z-index: 3;
}

.z-index4 {
    z-index: 4;
}

.z-index5 {
    z-index: 5;
}

.z-index6 {
    z-index: 6;
}

.z-index7 {
    z-index: 7;
}

.z-index8 {
    z-index: 8;
}

.z-index9 {
    z-index: 9;
}

.z-index10 {
    z-index: 10;
}

.z-index11 {
    z-index: 11;
}

.z-index12 {
    z-index: 12;
}

.z-index13 {
    z-index: 13;
}

.z-index14 {
    z-index: 14;
}

.z-index15 {
    z-index: 15;
}

.z-index16 {
    z-index: 16;
}

.z-index17 {
    z-index: 17;
}

.z-index18 {
    z-index: 18;
}

.z-index19 {
    z-index: 19;
}

.z-index20 {
    z-index: 20;
}


